.centered {
    max-width: 1250px;
    margin: 0 auto;
}

.hcenter {
    text-align: center;
}

.checkboxes {
    list-style: none;
    padding-left: 1em;
}

.checkboxes li {
    margin: 0.125em;
}

.events-list {
    margin-bottom: 0;
}

.req {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-size: 1.25em 1.25em;
    bottom: 0.075em;
}

.req-title {
    color: white;
    border-radius: 1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.done {
    background-image: url('yes.png');
}

.not-done {
    background-image: url('maybe.png');
}

.conf-events, .unconf-events {
    list-style: none;
    font-size: 0.9em;
}

.conf-events li::before {
    content: "\25CF";
    color: green;
    display: inline-block;
    width: 15px;
    margin-left: -20px;
}

.unconf-events li::before {
    content: "\25CF";
    color: red;
    display: inline-block;
    width: 15px;
    margin-left: -20px;
}

@media screen and (min-width: 1250px) {
    .content {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}
@media screen and (min-width: 1000px) {
    .left-column, .right-column {
        width: 48%;
    }
    .right-column {
        padding-left: 4%;
        float: right;
    }
    #break {
        display: none;
    }
}
@media screen and (max-width: 999px) {
    .left-column::before {
        height: 10px;
    }
}
@media screen and (min-width: 750px) {
    .checklist-left-col, .checklist-right-col {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }
    .checklist-right-col {
        padding-left: 2%;
    }
}

section {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 1.25em;
    margin-bottom: 0.5em;
}

h2:first-child {
    margin-top: 0;
}

/* Lastly, the clearfix hack to prevent floated elements overflowing container */
.centered::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left-narrow {
    width: 40%;
    float: left;
    padding-left: 4%;
}

.right-wide {
    width: 50%;
    float: right;
    padding-left: 27px; /* Just the right absolute distance to make it appear under on a phone */
    padding-right: 2%;
}

.left-extra-narrow {
    width: 30%;
    float: left;
    padding-left: 4%;
}

.right-extra-wide {
    width: 60%;
    float: right;
    padding-left: 27px;
    padding-right: 2%;
}

.table-column-max {
    max-width: 160px;
    word-break: break-all;
}

.table-div {
    padding-left: 10%;
    padding-right: 30%;
}

.title-left-pad {
    margin-left: 5%;
}

.table-wrap {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    padding: 1em;
}

.full-table {
    width: 100%;
}

.link {
    font-family: 'Source Sans Pro', sans-serif;
}

.links-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.3em;
}

.link-home {
    margin-left: 10%;
    float: left;
    width: 40%;
    font-size: 1.3em;
}

.detail {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.5em;
}

.inline-icon {
    width: 1.1em;
    vertical-align: middle;
}

.red {
    color: red;
}

.blue {
    color: #0000A0;
}

.table-icon {
    width: 1.5em;
    vertical-align: middle;
}

/* mouseover info for forms */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 1350%;
    background-color: #f2f2f2;
    color: black;
    font-size: 0.8em;
    padding: 0.4em;
    border-style: groove;
    border-radius: 8px;
    position: absolute;
    top: -40%;
    left: 150%;
}

/* This is the small triangle on the text box. Some of these values are quite arbitrary
   and unfortunately do not work for all browser zoom levels, but it's the best I can do. */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 17.5px;
    right: 101.2%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #9a9a9a transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.confirm-text {
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
}

#sunny {
    width: 40%;
    display: block; /* Center image */
    margin-left: auto;
    margin-right: auto;
}

#sunny-caption {
    font-size: 0.8em;
    margin-left: auto;
    margin-right: 30%;
    max-width: 40%;
    text-align: right;
    float: right;
}

.conf-events a {
    text-decoration: none;
    color: #535353;
}

.conf-events a:hover {
    text-decoration: underline;
}

.unconf-events a {
    text-decoration: none;
    color: #535353;
}

.unconf-events a:hover {
    text-decoration: underline;
}

h3, h4 {
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
    width: 100%;
}

.select2-container--default .select2-selection--single {
    border: none;
}

.select2-container--default .select2-selection--multiple {
    border: none;
}

.table {
    text-align: center;
    margin: auto;
}

.header {
    text-align: center;
    position: relative;
    padding: 1em;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: #F2F2F2;
    z-index: 10;
}

.first-col {
    width: 15em;
    min-width: 15em;
    max-width: 15em;
    left: 0;
    padding: 0;
}

.second-col {
    width: 5em;
    min-width: 5em;
    max-width: 5em;
    left: 15em;
    padding: 0;
    border-right: 0.1em solid gray;
}

.main-panel {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5em;
    padding: auto;
    overflow: auto;
}

.request-form {
    width: 25%;
    margin-left: 0.5em;
}

.remaining-request-form {
    width: 65%;
}

@media screen and (max-width: 1000px) {
    .request-form {
        width: 100%;
        margin: auto;
    }

    .remaining-request-form {
        width: 100%;
        margin: auto;
    }
}
