.content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.centered {
    max-width: 1250px;
    margin: 0 auto;
}

.checkboxes {
    list-style: none;
    padding-left: 1em;
}

.checkboxes li {
    height: 1.25em;
}

.events-list {
    margin-bottom: 0;
}

.events-sublist {
    list-style-type: circle;
}

.req {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-size: 1.25em 1.25em;
}

.done {
    background-image: url('yes.png');
}

.not-done {
    background-image: url('maybe.png');
}

.conf-events, .unconf-events {
    list-style: none;
    font-size: 0.9em;
}

.conf-events li::before {
    content: "\25CF";
    color: green;
    display: inline-block;
    width: 15px;
    margin-left: -20px;
}

.unconf-events li::before {
    content: "\25CF";
    color: red;
    display: inline-block;
    width: 15px;
    margin-left: -20px;
}

@media screen and (min-width: 1250px) {
    .content {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}
@media screen and (min-width: 1000px) {
    .left-column, .right-column {
        width: 48%;
    }
    .right-column {
        padding-left: 4%;
        float: right;
    }
    #break {
        display: none;
    }
}
@media screen and (max-width: 999px) {
    .left-column::before {
        height: 10px;
    }
}
@media screen and (min-width: 750px) {
    .checklist-left-col, .checklist-right-col {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }
    .checklist-right-col {
        padding-left: 2%;
    }
}

section {
    background-color: #F2F2F2;
    padding: 20px;
}

h2:first-child {
    margin-top: 0;
}

/* Lastly, the clearfix hack to prevent floated elements overflowing container */
.centered::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

.left-narrow {
    width: 40%;
    float: left;
    padding-left: 4%;
}

.right-wide {
    width: 50%;
    float: right;
    padding-left: 27px; /* Just the right absolute distance to make it appear under on a phone */
    padding-right: 2%;
}

.table-div {
    padding-left: 10%;
    padding-right: 30%;
}

.large-table-div {
    padding-left: 5%;
    padding-right: 5%;
}

.full-table {
    width: 100%;
}

.link {
    font-family: 'Source Sans Pro', sans-serif;
}

.links-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.3em;
}

.link-home {
    margin-left: 10%;
    float: left;
    width: 40%;
    font-size: 1.3em;
}

.detail {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.5em;
}

.inline-icon {
    width: 1.1em;
    vertical-align: middle;
}

.red {
    color: red;
}

.blue {
    color: #0000A0;
}

.blue-note {
    color: #0000A0;
    font-size: 0.8em
}

.table-icon {
    width: 1.5em;
    vertical-align: middle;
}

#confirm-text {
    font-size: 1.4em;
    margin-left: 10%;
}

#sunny {
    width: 40%;
    display: block; /* Center image */
    margin-left: auto;
    margin-right: auto;
}

#sunny-caption {
    font-size: 0.8em;
    margin-left: auto;
    margin-right: 30%;
    max-width: 40%;
    text-align: right;
    float: right;
}

#hiding-cat {
    width: 45%;
    display: block; /* Center image */
    margin-left: auto;
    margin-right: auto;
}
