#event-detail-title {
    margin-bottom: 0.2em;
    padding-left: 1em;
}

#left-details {
    padding-left: 2em;
    width: 45%;
    float: left;
}

#right-details {
    text-align: center;
    padding-right: 2em;
    width: 45%;
    float: right;
}

.left-half {
    width: 49%;
    float: left;
}

.right-half {
    width: 49%;
    float: right;
}

.aligned {
    float: left;
    clear: none;
    width: 100%;
}

.full-table {
    width: 100%;
}

.no-vertical-margin {
    margin-top: 0em;
    margin-bottom: 0em;
}

.rounded-text-box {
    font-size: 0.95em;
    color: white;
    display: inline-block;
    border-radius: 0.23em;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.rsvp-list-title {
    margin-bottom: 0.3em;
}

.rsvp-list {
    margin: 0.2em;
}

.table-icon {
    width: 1.5em;
    vertical-align: middle;
}

.message {
    color: rgba(166, 60, 68, 1);
}

.orange-messages {
    color: #B78727;
}

#add-event-title {
    margin: 0;
    margin-bottom: 1em;
    font-weight: normal;
    text-align: center;
}

#form {
    position: relative;
}

.row {
    margin-bottom: 1em;
}

@media screen and (min-width: 700px) {
    .left-side {
        display: inline-block;
        width: 50%;
        text-align: right;
    }
    #submit {
        width: 100%;
        text-align: center;
    }
}

#button {
    width: 100%;
    text-align: center;
}
