#event-detail-title {
    margin-bottom: 0.2em;
    padding-left: 1em;
}

#left-details {
    padding-left: 2em;
    width: 45%;
    float: left;
}

#right-details {
    text-align: center;
    padding-right: 2em;
    width: 45%;
    float: right;
}

.left-half {
    width: 49%;
    float: left;
}

.right-half {
    width: 49%;
    float: right;
}
@media screen and (max-width: 1000px) {
    #left-details {
        padding-left: 4%;
        padding-right: 4%;
        width: 90%;
        float: none;
    }
    
    #right-details {
        padding-left: 4%;
        padding-right: 4%;
        width: 90%;
        float: none;
    }

    .left-half {
        width: 90%;
        float: none;
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .right-half {
        width: 90%;
        float: none;
        padding-left: 4%;
        padding-right: 4%;
    }
}

.aligned {
    float: left;
    clear: none;
    width: 100%;
}

.full-table {
    width: 100%;
}

.no-vertical-margin {
    margin-top: 0em;
    margin-bottom: 0em;
}

.rounded-text-box {
    color: white;
    display: inline-block;
    border-radius: 0.23em;
    padding-top: 0.1em;
    padding-bottom: 0.05em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.rsvp-list-title {
    margin-bottom: 0.3em;
}

.rsvp-list {
    margin: 0.2em;
}

.table-icon {
    width: 1.5em;
    vertical-align: middle;
}

.message {
    color: rgba(166, 60, 68, 1);
}

.orange-messages {
    color: #B78727;
}

@media screen and (min-width: 700px) {
    .left-side {
        display: inline-block;
        width: 100%;
        text-align: right;
    }
    .right-side {
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    #submit {
        width: 100%;
        text-align: center;
    }
}

#button {
    width: 100%;
    text-align: center;
}
