{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="small-margin">
  <h2>Sign up</h2>
  {% if messages %}
    {% for message in messages %}
        <h3  {% if messages.tags %} class="{{ message.tags }}" {% endif %} class="blue">{{ message }}</h3>
    {% endfor %}
  {% endif %}
  <form method="post" onsubmit="submit_button.disabled = true; return true;">
    {% csrf_token %}
    {{ form.as_p }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LeYTKAUAAAAADooVC_FG9ua47PnwP_gGWOSwauK"></div>
    <button type="submit" name="submit_button" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>

{% endblock %}
