{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block header %}
<link rel='stylesheet' href="{% static "css/fullcalendar.min.css" %}" />
<link rel='stylesheet' href="{% static "css/fullcalendar.print.min.css" %}" media='print' />
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/fullcalendar.min.js" %}"></script>

<link href="{% static "css/calendar.css" %}" rel='stylesheet' />
<script src="{% static "js/calendar.js" %}"></script>
{% endblock %}

{% block content %}
<h1 class="">HKN Events</h1>

<h2>Calendar</h2>
<div id='calendar'></div>

<h2>Agenda</h2>
<div id='agenda'></div>

{% comment %}
<div style="float:right;text-align:right">
<%= link_to "public event feed", events_ical_url({ format: :ics, protocol: "webcal" }) %>
<% if @current_user %>
    <!-- figure out auth for feeds later -->
    <br /><%= link_to "download my visible events", ical_events_url({ format: :ics })%>
<% end %>
<br /><a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fwebcal%3A%2F%2Fhkn.eecs.berkeley.edu%2Fevents%2Fhkn.ics" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button1.gif" border=0></a>
</div>

<% if @auth["officers"] || @auth["assistants"] || @auth["cmembers"] %>
<span style="float:left"><%= link_to 'New Event', new_event_path %></span>
<% end %>
{% endcomment %}
{% endblock %}
