[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = 'pypi'

[packages]
django = ">=2.1.2"
mysqlclient = "*"
whitenoise = "*"
pillow = "*"
django-markdownx = ">=2.0"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
tox = "*"
livereload = "*"


[requires]
python_version=="3.6"
