[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = 'pypi'

[packages]
django = ">=2.1.2"
mysqlclient = "*"
whitenoise = "*"
pillow = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
tox = "*"
livereload = "*"
