[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = 'pypi'

[packages]
django = "==2.2.10"
mysqlclient = "==1.4.5"
whitenoise = "==4.1.1"
pillow = "==6.2.0"
django-markdownx = "==2.0.27"
gunicorn = "==19.9.0"
fabric = "==2.4.0"
social-auth-app-django = "==3.1.0"
django-autocomplete-light = "==3.5.1"

[dev-packages]
pre-commit = "==1.14.4"
pytest = "==4.3.0"
pytest-django = "==3.4.7"
tox = "==3.7.0"
livereload = "==2.6.0"
