-i https://pypi.python.org/simple
aspy.yaml==1.1.2
atomicwrites==1.3.0
attrs==18.2.0
cfgv==1.4.0
filelock==3.0.10
identify==1.2.2
importlib-metadata==0.8
livereload==2.6.0
more-itertools==6.0.0 ; python_version > '2.7'
nodeenv==1.3.3
pluggy==0.8.1
pre-commit==1.14.4
py==1.7.0
pytest-django==3.4.7
pytest==4.3.0
pyyaml==3.13
six==1.12.0
toml==0.10.0
tornado==5.1.1
tox==3.7.0
virtualenv==16.4.0
zipp==0.3.3
