{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "serv/style.css" %}">
{% endblock %}

{% block title %}Outreach{% endblock %}

{% block heading %}
Outreach
{% endblock %}

{% block content %}
<div>
    <p class="info">Throughout the year, HKN hosts a wide range of events designed to engage students and the general public alike
         in the fields of electrical engineering and computer science, to provide a glimpse into EECS life at UC Berkeley,
          and to give back to our wonderful local community. Come learn how to make a programmable LED array, or how to
           write your own facial recognition algorithms with HKN; no prior experience necessary!</p>
    <div id="event-links">
        <h2>Event List</h2>
        <ul>
            <li><a href="/serv/eecsday">EECS Day</a></li>
            <li><a href="/serv/jreecs">Junior EECS Day</a></li>
            <li><a href="/serv/bearhacks">BearHacks</a></li>
            <li><a href="/serv/makershops">Maker Workshops</a></li>
            <li><a href="/serv/calday">Cal Day Workshops</a></li>
        </ul>
    </div>
</div>
{% endblock %}
