{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "serv/style.css" %}">
{% endblock %}

{% block title %}Maker Workshops{% endblock %}

{% block heading %}Maker Workshops{% endblock %}

{% block content %}
<div>
    <div class="info">
        <h2>Overview</h2>
        <p>HKN Maker workshops are a series of weekend-afternoon workshops, open to all current high school students, that serve as an introduction to interesting and relevant EECS topics of today.
             We have offered lessons on everything from 3D modeling and printing, computer vision, microcontrollers, IoT (Internet of Things) devices, and much more.</p>
        <p><i>Annual, Spring Semester</i></p>
        <h2>Additional Resources</h2>
        <ul>
            <li><a href="http://docs.google.com/presentation/d/1XnqMrS39sKCBxrch1EZHocEv-1XRdMmO5W0UV8WtRKE/edit#slide=id.p4">Microcontrollers workshop slides</a></li>
            <li><a href="http://drive.google.com/file/d/0B9Ic4VrEAB7oMTRVT2NBV0hYaHM/view">Computer vision powerpoint</a></li>
            <li><a href="http://docs.google.com/presentation/d/1H0LHLGHvfn1s8tE0_9x4HOt6GjRDD2gounZSK6hDcU0/edit">IoT</a></li>
            <li><a href="http://docs.google.com/presentation/d/1eE2Ju6VoRHxN76ZpOggU2ue0-bHVh0bfR31iMQdYojE/edit#slide=id.g1ec58a0453_0_59">3D printing</a></li>
        </ul>
    </div> 
</div>
{% endblock %}
