{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ course.title|default:"Course Details" }}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/course_description.css' %}">
{% endblock %}

{% block content %}
    <div class="course-description-container">
        <!-- Top Section: Title and Quick Links -->
        <div class="top-section">
            <!-- Title -->
            <div class="course-title-section">
                <h2 class="course-title">{{ course.title|default:"Course Title" }}</h2>
                {% if viewer_is_an_officer %}
                    <p> Last Updated: {{ course.updated_at }} </p>
                    <a href="{{ request.path }}edit"> Edit Page </a>
                {% endif %}
            </div>
            <div class="quick-links-section">
                <h3>Quick Links</h3>
                {% if quick_links %}
                    <p> {{ quick_links }}
                {% else %}
                    <p> No quick links available. </p>
                {% endif %}
            </div>
        </div>
        
        <!-- Bottom Section: Course Description and Topics Covered -->
        <div class="bottom-section">
            <!-- Course Description -->
            <div class="course-description">
                <h3>Course Description</h3>
                <p>{{ description|default:"No description available." }}</p>
                
                <!-- Divider -->
                <hr class="divider">
                
                <!-- More Info -->
                <div class="more-info">
                    <p>{{ more_info }}</p>
                </div>
            </div>
            
            <!-- Topics Covered -->
            <div class="topics-covered">
                <div class="prerequisites">
                    <h3>Prerequisites</h3>
                    {% if prerequisites %}
                        <p> {{ prerequisites }} </p>
                    {% else %}
                        <p>No prerequisites available.</p>
                    {% endif %}
                    
                </div>
                <h3>Topics Covered</h3>
                {% if topics_covered %}
                    <p> {{ topics_covered }} </p>
                {% else %}
                    <p> No topics available. </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
