{% extends 'base.html' %}
{% block title %}Resume Review{% endblock %}
{% block heading %}Resume Review{% endblock %}

{% block header %}
    <style>
        .content {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 30%;
            padding-right: 30%;
            text-align: left;
        }
    </style>
{% endblock %}


{% block content %}
    <div style="text-align: center; margin-bottom: 20vh;">
        <p> Come to HKN Professional Development Office Hours for Resume Critique.
		To check hours for this week visit <a href="//hkn.mu/tutor">hkn.mu/tutor</a>. </p>
    </div>
{% endblock %}
