{% extends "base.html" %}
{% load static %}

{% block title %}Alumni Form{% endblock %}

{% block header %}
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="{% static "calendar.js" %}"></script>
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
  <h1 class="font-title f3 f2-ns tc">Submit Your Alumni Information!</h1>

  <p>
    Hi!!
  </p>
</div>

  <!-- TODO: add public event feed (ical) -->
{% endblock %}

