{% extends "base.html" %}
{% load static %}

{% block title %}Infosessions{% endblock %}

{% block heading %}
Infosessions
{% endblock %}

{% block content %}
<style>
    .content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    #inner {
        max-width: 700px;
        margin: auto;
    }
</style>

<div id="inner">
<h2>What is an infosession?</h2>

Short for information session, it is a recruiting event for students to meet with employers. It is a great opportunity to give potential employees an up-close and personal insight into your company, establish a campus presence, and collect resumes from interested students.

<h2>What kind of turnout can we expect?</h2>

It can vary depending on how well-known your company is among students. If your company has a strong presence and reputation, it can expect 50 to 80 students. An up and coming company can expect 20 to 30 students.

<h2>What days would you recommend?</h2>

The best days of the week are either Tuesday, Wednesday or Thursday after 6pm. Mondays are also an option, or holding the event after 5pm, although both are less optimal. We will help you schedule the most optimal time.

<h2>What location will be used to host the event?</h2>

Infosessions are held in the EECS sector of campus, most often in Soda Hall, the Computer Science building. The rooms vary from lounges, auditoriums, or classrooms, depending on availability. We will try to accommodate any room requests you may have.

<h2>What if extra equipment is required?</h2>

We can accommodate almost any equipment given enough notice. Common equipment that we have provided include a LCD projector, laptop or whiteboard.

<h2>How does your group advertise the event?</h2>

We typically post flyers among the campus buildings that will target the majors that your company is seeking. We also send an e-mail advertising your event to all our members. We will also make announcements to targeted classes on the day of the event if we feel it will help generate a stronger turnout.

<h2>How much would it cost to hold it with HKN and what does it include?</h2>

We typically ask for a standard tax-deductible donation of $800, not including food or equipment rental expenses, but more generosity is welcomed. We are a 501(c)3 tax-exempt non-profit (IEEE, Inc.), university-affiliated organization and we use this money to help improve our services to the EECS community.

<h2>What kind of food can you provide?</h2>

The choice is really up to you and your budget. We can help you decide or you can leave it to us to choose. Our selections help distinguish our infosessions from the typical pizza infosession and provide a better experience for students.

<h2>Can you co-sponsor an infosession?</h2>

Yes, we can work with other organizations to coordinate and setup your infosession. We require that your company is part of the EECS Industrial Liaison Program (ILP) before we are able to coordinate an infosession for your company. You can determine if your company is a member by checking the list here. Acting as co-sponsor, we ask for a separate gift towards our organization.

<h2>Sounds good, who should I contact?</h2>

<a href="{% url 'indrel:infosessions/registration' %}">Register</a> on our site and we'll reply quickly. Feel free to e-mail indrel@hkn if you have any questions that will help you decide if working with us is right for you.
</div>
{% endblock %}
