{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "alumni/style.css" %}">
{% endblock %}

{% block title %}Alumni Detail{% endblock %}

{% block heading %}
View Alumni: {{ first_name }} {{ last_name }}
{% endblock %}

{% block content %}
<div class="parent">

    <div class="detail">
        <b>First Name:</b> {{ alumnus.first_name }}<br/>
        <b>Last Name:</b> {{ alumnus.last_name }}<br/>
        <b>Email:</b> {{ alumnus.perm_email }}<br/>
        <b>Graduation Season:</b> {{ alumnus.grad_season }}<br/>
        <b>Graduation Year:</b> {{ alumnus.grad_year }}<br/>
        <b>Grad School:</b> {{ alumnus.grad_school }}<br/>
        <b>Company:</b> {{ alumnus.company }}<br/>
        <b>Job Title:</b> {{ alumnus.job_title }}<br/>
        <b>City:</b> {{ alumnus.city }}<br/>
        <b>Country State:</b> {{ alumnus.country_state }}<br/>
        <br>

        <a href="{% url 'alumni:search' %}?q=\\">Go Back to Search</a>
        <br><br>

    </div>

</div>

{% endblock %}
