body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

/* LINKS */
a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navi-menu-item a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}

/* NAVIGATION BAR */
.navi-container {
    border-bottom: solid 3px #A63C44;
}
.navi {
    height: 85px;
    max-width: 1250px;
    padding: 0px 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.navi-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto 0px;
    max-height: 85px;
}
.navi-logo-img {
    width: 80px;
}
.navi-menu-logo-text {
    margin-left: 15px;
}
.navi-logo-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.navi-logo-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 400;
}
@media screen and (min-width: 1070px) {
    /* Use desktop display rather than mobile */
    .navi-menu-button {
        display: none;
    }
    .navi-extension-container {
        display: flex;
    }
    .navi-ext-container {
        display: flex;
    }
    .navi-menu-item, .navi-ext-item {
        margin-left: 35px;
    }
}
@media screen and (max-width: 1070px) {
    /* Use mobile display rather than desktop */
    .navi-menu-item {
        display: none;
    }
    .navi-ext-logo {
        text-align: center;
    }
    .navi-ext-logo {
        padding-bottom: 25px;
    }
}
.navi-extension {
    position: absolute;
    background-color: #eeeeee;
    width: 100%;
    top: -8000px;
    padding: 35px 0px;
    transition: all 500ms ease;
    z-index: 999999;
    border-bottom: solid 3px #346F9E;
}
.navi-menu {
    display: flex;
}
.navi-menu, .navi-extension-container {
    justify-content: flex-end;
    align-items: center;
}
.navi-menu-container {
    margin: auto 0px;
    max-width: 100%;
}
.navi-menu-item {
    text-align: center;
    padding: 0px auto;
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}
.navi-menu-item:hover {
    text-decoration: none;
}
.navi-extension-container {
    max-width: 1250px;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px 10px;
}
.navi-ext-container {
    align-items: flex-start;
}
.navi-extension-item {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: inherit;
}
.navi-ext-item {
    font-size: 15px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}
.navi-menu-ext-item {
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
.navi-ext-logo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.navi-ext-logo-text{
    margin-top: 10px;
}
.navi-ext-logo .navi-ext-logo-text .navi-logo-title{
    font-size: 25px;
}
.navi-ext-logo .navi-ext-logo-text .navi-logo-subtitle{
    font-size: 20px;
}

.exit-ext-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}
.exit-ext-menu img {
    width: 50px;
    height: 50px;
}
#toggle {
    position: absolute;
    top: -100%;
    left: -100%;
    display: none;
}

label {
    cursor: pointer;
    color: #454545 !important;
    opacity: 90%;
}

#toggle:checked ~ .navi-extension{
    top: 0;
}
#toggle:checked ~ .banner {
    margin-top: 400px;
}

#heading {
    padding: 75px;
    /* background-color: #EEEEEE; */
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    background: url('/static/img/bg.png');
}

#content {
    padding: 75px 10px;
    width: 1000px;
    margin: 0px auto;
}

label, input {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
}

/* FOOTER */
.footer {
    background-color: #252525;
    padding: 60px 0px;
    font-family: "Source Sans Pro", sans-serif;
}
.footer-container {
    max-width: 1250px;
    padding: 0px 10px;
    margin: auto;
}
@media screen and (min-width: 1100px) {
    .footer-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}
.footer-block {
    margin: 15px 0px;
    color: white;
}
.footer-block-title {
    font-size: 21px;
    font-family: "PT Sans", sans-serif;
}
.contact-text {
    color: rgba(255, 255, 255, 0.75);
}
