 /* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */

/* fonts */
.font-body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif
}

.font-title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif
}

/* wide measure (max-width) */
.measure-very-wide {
  max-width: 72em;
}

@media screen and (min-width:30em) {
  .measure-very-wide-ns {
    max-width: 72em;
  }
}

@media screen and (min-width:30em) and (max-width:60em) {
  .measure-very-wide-m {
    max-width: 72em;
  }
}

@media screen and (min-width:60em) {
  .measure-very-wide-l {
    max-width: 72em;
  }
}
