{% extends "base.html" %}
{% load static %}
{% block title %}Officers{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
  <h1 class="font-title f3 f2-ns tc">HKN Officers</h1>
  <h2> Excs </h2>
  <hr>
  <div class = "execs">
    {% for officer in officers %}
    {% if officer.department == "Execs" %}
    <div class="exec">
      <h3> {{officer.title}} ({{officer.email}})</h3>
      <div class = "photo ">
        <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
      </div> 
      <p>{{officer.name}}</p>
      <p>{{officer.personal_email}}</p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <h2> Committees </h2>
  <hr>
  <div class = "committees">
    <div class = "activities">
      <h3>Activities (act@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Activities" %}
      <div class="activities">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "bridge">
      <h3>Bridge (bridge@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Bridge" %}
      <div class="bridge">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div>
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "computing Services">
      <h3>Computing Services (compserv@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Computing Services" %}
      <div class="computing Services">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "decal">
      <h3>Decal (decal@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Decal" %}
      <div class="decal">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "industrial relations">
      <h3>Industrial relations (indrel@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Industrial relations" %}
      <div class="industrial relations">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "service">
      <h3>Service (serv@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Service" %}
      <div class="service">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "student relations">
      <h3>Student Selations (studrel@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Student Relations" %}
      <div class="student relations">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class = "tutoring">
      <h3>Tutoring (tutoring@hkn)</h3>
      {% for officer in officers %}
      {% if officer.department == "Tutoring" %}
      <div class="tutoring">
        <div class = "photo ">
          <img style="max-width: 125px; height: 100px;" src= officer.image alt = {{officer.name}}>
        </div> 
        <p>{{officer.name}}</p>
        <p>{{officer.personal_email}}</p>
        <p>{{officer.title}}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

  <!-- TODO: add public event feed (ical) -->
{% endblock %}
