{% extends 'base.html' %}

{% block header %}
    <style>
        .content {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 30%;
            padding-right: 30%;
            text-align: center;
        }

        #actual-contents {
            display: inline-block;
            margin: 0 auto;
            text-align: left;
        }

        #title {
        font-size: 3em;
        margin: auto;
        margin-bottom: .5em;
        text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <p id="title">Resume Review</p>

    <h2>
        Thank you for submitting!
    </h2>

    <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
