{% extends "base.html" %}
{% load static %}

{% block header %}
    <style>
        .header {
            margin: auto;
            width: 50%;
            text-align: center;
            padding-bottom: 0.25%;
        }
    </style>

    <!-- Demographic selection and information panels -->
    <style>
        .demographic-selection-panel {
            box-shadow: 0 0 1em #252525;
            margin: auto;
            min-height: 20em;
            width: 15%;
            border-radius: 0.75em;
            text-align: center;
            position: relative;
            display: inline-block;
            margin-bottom: 2%;
        }

        .demographic-selection-panel:hover {
            box-shadow: none;
            background-color: #252525;
            color: white;
        }

        .demographic-selection-panel-header {
            padding-top: 50%;
            font-size: 200%;
        }

        .demographic-information-panel {
            box-shadow: 0 0 1em #252525;
            margin: auto;
            min-height: 15em;
            width: 47.5%;
            border-radius: 0.75em;
            text-align: center;
            position: relative;
            margin-bottom: 1%;
        }

        .demographic-information-panel-header {
            font-size: 150%;
            margin-bottom: 1%;
        }

        .demographic-information-panel-selection {
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 0.5em;
        }

        .demographic-information-panel-body {
            font-size: 125%;
            text-align: left;
            padding-left: 10%;
            padding-right: 10%;
        }

        .demographic-information-panel-footer {
            font-size: 150%;
            position: absolute;
            bottom: 2%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }

        .instructions-button {
            font-size: 150%;
            text-align: center;
            margin: auto;
            margin-bottom: 0.5em;
            padding: 0;
            width: 15%;
            border: 0.1em solid gainsboro;
            border-radius: 0.75em;
        }

        .instructions-button:hover {
            font-weight: bold;
        }
    </style>

    <!-- Search panel -->
    <style>
        .search-panel {
            box-shadow: 0 0 1em #252525;
            margin: auto;
            margin-left: 5%;
            margin-bottom: 2%;
            height: 50em;
            width: 25%;
            border-radius: 0.75em;
            text-align: center;
            position: relative;
            float: left;
        }

        .search-panel-header {
            font-weight: normal;
            font-size: 135%;
            margin-top: 1%;
        }

        .search-panel-selection {
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
            border: 0.1em solid gainsboro;
            border-radius: 0.75em;
            width: 30%;
        }

        .search-panel-body {
            text-align: center;
            margin: 0;
            padding: 0.5em;
        }

        .search-panel-list {
            list-style-type: none;
            padding: 0.5em;
            padding-top: 0;
            max-height: 31em;
            overflow: scroll;
        }

        .search-panel-list-item {
            margin: auto;
            padding: 0.5em;
            width: 90%;
            text-align: center;
            border: 0.1em solid gainsboro;
            border-bottom: none;
            height: 1.75em;
        }

        .search-panel-list-item-bubble {
            border: 0.1em solid gainsboro;
            border-radius: 0.75em;
            background-color: rgb(135, 206, 250, 0.9);
            width: 35%;
            margin: 0;
            padding: 0;
            float: left;
            font-size: 110%;
        }

        .search-panel-list-item-text {
            border: 0.1em transparent;
            border-radius: 0.75em;
            margin: 0;
            padding: 0;
            padding-left: 0.5em;
            padding-top: 0.20em;
            float: left;
        }

        .search-bar {
            border: 0.1em solid gainsboro;
            border-radius: 0.3em;
            border-bottom: none;
            background: gainsboro;
            width: 80%;
            margin: auto;
            margin-top: 0.5em;
            padding-left: 0.2em;
            padding-right: 0.2em;
            padding-top: 0.1em;
            padding-bottom: 0.1em;
            text-align: left;
        }

    </style>

    <!-- Information panels -->
    <style>
        .information-panel {
            box-shadow: 0 0 1em #252525;
            height: 17.5em;
            margin: auto;
            margin-left: 1%;
            margin-bottom: 0.5em;
            width: 65%;
            border-radius: 0.75em;
            text-align: center;
            position: relative;
            display: inline-block;
            float: none;
            padding: 1em;
        }

        .information-panel-header {
            font-size: 150%;
            text-align: center;
            margin-right: 0;
        }

        .ratings-panel {
            box-shadow: 0 0 1em #252525;
            height: 27.5em;
            margin: auto;
            margin-top: 0.5em;
            margin-left: 1%;
            margin-bottom: 3%;
            width: 65%;
            border-radius: 0.75em;
            text-align: center;
            position: relative;
            display: inline-block;
            float: none;
            padding: 1em;
        }

        .ratings-panel-header {
            font-size: 150%;
        }

        .ratings-panel-body {

        }

    </style>

    <!-- Designs -->
    <style>
        .design-list {
            font-size: 150%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: center;
        }

        .design-list-item {
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
            min-width: 5.5em;
        }

    </style>

    <script>
        function clickSelectionStudent() {
            document.getElementById("student-selection").style.fontWeight="Bold";
            document.getElementById("ta-selection").style.fontWeight="Normal";
            document.getElementById("instructor-selection").style.fontWeight="Normal";

            document.getElementById("selection-text-none").style.display="none";
            document.getElementById("selection-text-student").style.display="block";
            document.getElementById("selection-text-ta").style.display="none";
            document.getElementById("selection-text-instructor").style.display="none";
        }

        function clickSelectionTA() {
            document.getElementById("student-selection").style.fontWeight="Normal";
            document.getElementById("ta-selection").style.fontWeight="Bold";
            document.getElementById("instructor-selection").style.fontWeight="Normal";

            document.getElementById("selection-text-none").style.display="none";
            document.getElementById("selection-text-student").style.display="none";
            document.getElementById("selection-text-ta").style.display="block";
            document.getElementById("selection-text-instructor").style.display="none";
        }

        function clickSelectionInstructor() {
            document.getElementById("student-selection").style.fontWeight="Normal";
            document.getElementById("ta-selection").style.fontWeight="Normal";
            document.getElementById("instructor-selection").style.fontWeight="Bold";

            document.getElementById("selection-text-none").style.display="none";
            document.getElementById("selection-text-student").style.display="none";
            document.getElementById("selection-text-ta").style.display="none";
            document.getElementById("selection-text-instructor").style.display="block";
        }

        function clickSearchByCourse() {
            document.getElementById("search-panel-selection-course").style.fontWeight="Bold";
            document.getElementById("search-panel-selection-instructor").style.fontWeight="Normal";

            document.getElementById("search-panel-list-course").style.display="block";
            document.getElementById("search-panel-list-instructor").style.display="none";
        }

        function clickSearchByInstructor() {
            document.getElementById("search-panel-selection-course").style.fontWeight="Normal";
            document.getElementById("search-panel-selection-instructor").style.fontWeight="Bold";

            document.getElementById("search-panel-list-course").style.display="none";
            document.getElementById("search-panel-list-instructor").style.display="block";
        }

        function clickInstructionsHide() {
            document.getElementById("instructions-button-hide").style.display="none";
            document.getElementById("instructions-button-show").style.display="block";
            document.getElementById("instructions").style.display="none";
        }

        function clickInstructionsShow() {
            document.getElementById("instructions-button-hide").style.display="block";
            document.getElementById("instructions-button-show").style.display="none";
            document.getElementById("instructions").style.display="block";
        }

        function clickInformationInstructor() {
            document.getElementById("information-panel-none").style.display="none";
            document.getElementById("information-panel-course").style.display="none";
            document.getElementById("information-panel-instructor").style.display="block";
        }

        function clickInformationCourse() {
            document.getElementById("information-panel-none").style.display="none";
            document.getElementById("information-panel-course").style.display="block";
            document.getElementById("information-panel-instructor").style.display="none";
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="header">
        Course surveys
    </h1>

    <!-- Demographic selection and information panels -->
    <div>
        <div id="instructions">
            <div class="panel panel-primary demographic-selection-panel" style="float: left; left: 26.25%;" onclick="clickSelectionStudent()">
                <div class="panel-header demographic-selection-panel-header">
                    For students
                </div>
            </div>
            <div class="panel panel-primary demographic-selection-panel" style="float: none; left: 27.5%;" onclick="clickSelectionTA()">
                <div class="panel-header demographic-selection-panel-header">
                    For TAs or (u)GSIs
                </div>
            </div>
            <div class="panel panel-primary demographic-selection-panel" style="float: right; right: 26.25%;" onclick="clickSelectionInstructor()">
                <div class="panel-header demographic-selection-panel-header">
                    For instructors
                </div>
            </div>
    
            <div class="panel panel-primary demographic-information-panel">
                <div class="panel-header demographic-information-panel-header">
                    <div class="demographic-information-panel-selection" id="student-selection">
                        Student
                    </div>
                    /
                    <div class="demographic-information-panel-selection" id="ta-selection">
                        Teaching Assistant
                    </div>
                    /
                    <div class="demographic-information-panel-selection" id="instructor-selection">
                        Instructor
                    </div>
                </div>
                <div class="panel-body demographic-information-panel-body" id="selection-text">
                    <div id="selection-text-none" style="text-align: center;">
                        Click on a panel!
                    </div>
                    <div id="selection-text-student" style="display: none;">
                        As a student, you are able to: <br>
    
                        - browse through our course map<br>
                        - view course and instructor ratings throughout the semesters<br>
                    </div>
                    <div id="selection-text-ta" style="display: none;">
                        If you are a Teaching Assistant for any EE/CS course, you are able to: <br>
    
                        - view and print your course evaluations <br>
                        - enable public view for your data <br>
                        - update your contact informations (ie. website, email, interests, profile picture). <br>
                        - view as Student <br>
                    </div>
                    <div id="selection-text-instructor" style="display: none;">
                        If you are a Faculty Instructor for any EE/CS course, you are able to: <br>
    
                        - view and print your course evaluations <br>
                        - update your contact informations (ie. website, email, interests, profile picture). <br>
                        - view TA evaluations for hiring purposes <br>
                        - view as Student <br>
                    </div>
                </div>
                <div class="panel-footer demographic-information-panel-footer">
                    Sign in via <a href="">CalNet</a>
                </div>
            </div>
        </div>

        <div class="instructions-button" id="instructions-button-hide" onclick="clickInstructionsHide()">
            Hide instructions
        </div>
        <div class="instructions-button" id="instructions-button-show" style="display: none;" onclick="clickInstructionsShow()">
            Show instructions
        </div>
    </div>

    <!-- Course and instructor information panels -->
    <div>
        <div class="panel panel-primary search-panel">
            <div class="panel-header search-panel-header">
                Filter by: <br>
                <div class="search-panel-selection" id="search-panel-selection-course" onclick="clickSearchByCourse()" style="font-weight: bold;">
                    Course
                </div>
                /
                <div class="search-panel-selection" id="search-panel-selection-instructor" onclick="clickSearchByInstructor()">
                    Instructor
                </div>
                <br>
                <div class="search-bar">
                    Search bar
                </div>
            </div>
            <div class="panel-body search-panel-body">
                <ul class="search-panel-list" id="search-panel-list-course">
                    {% for course in courses %}
                        <li class="search-panel-list-item" onclick="clickInformationCourse()">
                            <div class="search-panel-list-item-bubble">
                                {{course.dept}} {{course.number}}
                            </div>
                            <div class="search-panel-list-item-text">
                                Course name
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="search-panel-list" id="search-panel-list-instructor" style="display: none;">
                    {% for instructor in instructors %}
                        <li class="search-panel-list-item" onclick="clickInformationInstructor()">
                            <div class="search-panel-list-item-bubble" style="float: none; margin: auto; width: 80%;">
                                {{instructor.name}}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel panel-primary information-panel">
            <div class="panel-header information-panel-header">
                <div id="information-panel-none">
                    Click on a course or instructor to show information!
                </div>
                <div id="information-panel-course" style="display: none;">
                    Information panel course
                </div>
                <div id="information-panel-instructor" style="display: none;">
                    Information panel instructor
                </div>
            </div>
        </div>

        <div class="panel panel-primary ratings-panel">
            <div class="panel-header ratings-panel-header">
                Ratings panel
            </div>
            <div class="panel-body ratings-panel-body">
                Not sure how to do this yet lol
            </div>
        </div>
    </div>

    <!-- Designs -->
    <div>
        <h2 style="margin: auto; text-align: center; padding-bottom: 1.5%;">
            Designs
        </h2>

        {% if pages %}
            <ul class="design-list">
                {% for page in pages %}
                    <li class="design-list-item">
                        <a href={{page.path}}>{{page.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No course surveys design pages at the moment! Check back later or contact HKN.
        {% endif %}
    </div>

{% endblock %}
