{% extends "base.html" %}
{% load static %}

{% block title %}
    Course surveys upload
{% endblock %}

{% block header %}
    <style>
        .header {
            margin: auto;
            width: 50%;
            text-align: center;
            padding-bottom: 0.25%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="header">
        Course surveys upload
    </h1>

    <!-- Design credit -->
    <h2 style="margin: auto; text-align: center; padding-top: 3%; color: grey; font-weight: normal;">
        UI/UX designed by <a href="https://www.linkedin.com/in/dan-y-chu/" style="text-decoration: none;">Danny Chu</a>.
    </h2>
{% endblock %}
