{% extends "base.html" %}
{% load static %}

{% block title %}
    Course surveys upload
{% endblock %}

{% block header %}
    <style>
        .header {
            margin: auto;
            width: 50%;
            text-align: center;
            padding-bottom: 0.25%;
        }

        .main-panel {
            box-shadow: 0 0 0.5em #252525;
            margin: auto;
            height: 80vh;
            width: 80vw;
            border-radius: 0.75em;
            text-align: center;
            position: relative;
        }

        .navigation-button {
            position: absolute;
            bottom: 1em;
            font-size: 110%;
            border-radius: 0.8em;
            border: none;
            width: 7em;
            height: 2em;
            background: #DFF5FF;
        }

        .navigation-button:hover {
            cursor: pointer;
        }

        .back-button {
            left: 1em;
        }

        .next-button {
            right: 1em;
        }

    </style>

    <!-- Upload -->
    <style>
        .upload-instructions {
            margin-left: 25%;
            margin-right: 25%;
            padding-top: 1em;
            margin-bottom: 3em;
        }

        .upload-csv {
            border: 0.2em solid gainsboro;
            border-radius: 0.2em;
            padding: 0.2em 0 0.2em 0.1em;
        }

    </style>

    <!-- Merging -->
    <style>
        .merge-instructions {
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 1em;
            margin-bottom: 3em;
            font-size: 110%;
        }

        .merge-panel {
            width: 35vw;
            height: 60vh;
            overflow: scroll;
            text-align: left;
            margin-left: 2em;
            margin-right: 2em;
        }

        .existing-merge-panel {
            float: right;
        }

        .new-merge-panel {
            float: left;
        }

        .object-list {
            list-style-type: none;
            padding-left: 0;
        }

        .object-list-item {
            border: 0.1em solid gainsboro;
            padding: 0.5em;
        }

        .merge-button {
            margin-top: 2em;
            font-size: 110%;
            background-color: #DFF5FF;
            border: none;
            padding: 0.5em;
            border-radius: 0.5em;
        }

        .merge-button:hover {
            cursor: pointer;
        }

    </style>

    <!-- Status: finished -->
    <style>
        .finished-message {
            text-align: center;
            padding-top: 1em;
        }
    </style>

    <script>
        function mergeObjects(url, paramName) {
            var objectIds = []
            var checkboxes = document.querySelectorAll("input[type=checkbox]:checked")

            for (var i = 0; i < checkboxes.length; i++) {
                objectIds.push(checkboxes[i].value)
            }

            var httpRequest = new XMLHttpRequest();
            url = url + "?" + paramName + "=" + JSON.stringify(objectIds);
            httpRequest.open("POST", url, true);

            httpRequest.setRequestHeader("Content-type", "application/json; charset=utf-8");
            httpRequest.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

            httpRequest.send(null);
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="header">
        Course surveys upload: {{ title }}
    </h1>

    <div class="panel panel-primary main-panel">
        <div>
            {% if status == "upload" %}
                <div class="upload-instructions">
                    <div style="font-weight: bold;">
                        Directions
                    </div>
                    <br>
                    <div style="text-align: left;">
                        There are four stages to uploading course surveys data.
                        <ol>
                            <li>
                                Uploading a CSV and selecting the columns
                            </li>
                            <li>
                                Merging in any new questions
                            </li>
                            <li>
                                Merging in any new instructors
                            </li>
                            <li>
                                Wait for changes to be applied
                            </li>
                        </ol>
                        You can merge questions and instructors without having to upload a CSV by clicking the "Next" button.
                    </div>
                </div>

                {% for message in messages %}
                    <span {% if message.tags == "success" %} style="color: blue;" {% else %} style="color: red;" {% endif %}>
                        {{ message }}
                    </span>
                {% endfor %}
                <form action="{% url 'course_surveys:upload_csv' %}" method="post" enctype="multipart/form-data" onsubmit="submit_button.disabled = true; return true;">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input class="upload-csv" type="file" name="course_surveys_csv" />
                    <input class="merge-button" type="submit" name="submit_button" value="Upload CSV" />
                </form>
            {% elif status == "questions"%}
                <div class="merge-instructions">
                    Check if any of the new questions have similar question text as existing questions. If they do, merge them together!
                </div>

                <form>
                    <div class="panel panel-primary merge-panel new-merge-panel">
                        <div class="panel-header" style="font-weight: bold;">
                            New questions
                        </div>
                        <div class="panel-body">
                            {% if new_questions %}
                                <ul class="object-list">
                                    {% for q in new_questions %}
                                    <li class="object-list-item">
                                        <input type="checkbox" value={{ q.id }}> {{ q.text }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No new questions!
                            {% endif %}
                        </div>
                    </div>

                    <div class="panel panel-primary merge-panel existing-merge-panel">
                        <div class="panel-header" style="font-weight: bold;">
                            Existing questions
                        </div>
                        <div class="panel-body">
                            {% if existing_questions %}
                                <ul class="object-list">
                                    {% for q in existing_questions %}
                                    <li class="object-list-item">
                                        <input type="checkbox" value={{ q.id }}> {{ q.text }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No existing questions!
                            {% endif %}
                        </div>
                    </div>

                    {% if new_questions or existing_questions %}
                        <input class="merge-button" type="button" value="Merge selected questions" onclick="mergeObjects('{% url 'course_surveys:merge_questions' %}', 'question_ids')">
                    {% endif %}
                </form>
            {% elif status == "instructors"%}
                <div class="merge-instructions">
                    Check if any of the new instructors have similar names as existing instructors. If they do, merge them together!
                </div>

                <form>
                    <div class="panel panel-primary merge-panel new-merge-panel">
                        <div class="panel-header" style="font-weight: bold;">
                            New instructors
                        </div>
                        <div class="panel-body">
                            {% if new_instructors %}
                                <ul class="object-list">
                                    {% for i in new_instructors %}
                                        <li class="object-list-item">
                                            <input type="checkbox" value={{ i.id }}> {{ i.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No new instructors!
                            {% endif %}
                        </div>
                    </div>

                    <div class="panel panel-primary merge-panel existing-merge-panel">
                        <div class="panel-header" style="font-weight: bold;">
                            Existing instructors
                        </div>
                        <div class="panel-body">
                            {% if existing_instructors %}
                                <ul class="object-list">
                                    {% for i in existing_instructors %}
                                        <li class="object-list-item">
                                            <input type="checkbox" value={{ i.id }}> {{ i.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No existing instructors!
                            {% endif %}
                        </div>
                    </div>

                    {% if new_instructors or existing_instructors %}
                        <input class="merge-button" type="button" value="Merge selected instructors" onclick="mergeObjects('{% url 'course_surveys:merge_instructors' %}', 'instructor_ids')">
                    {% endif %}
                </form>
            {% elif status == "finished" %}
                <div class="finished-message">
                    Successfully uploaded course surveys!
                    <br>
                    You can go back and make changes by clicking the "Back" button.
                </div>
            {% endif %}
        </div>

        <form action="{% url 'course_surveys:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="status" value="{{ status }}">
            <input type="hidden" name="previous_status" value="{{ previous_status }}">
            <input type="hidden" name="next_status" value="{{ next_status }}">

            {% if previous_status %}
                <input class="navigation-button back-button" name="back" type="submit" value="Back" />
            {% endif %}
            {% if next_status %}
                <input class="navigation-button next-button" name="next" type="submit" value="Next" />
            {% endif %}
        </form>
    </div>

    <!-- Design credit -->
    <h2 style="margin: auto; text-align: center; padding-top: 3%; color: grey; font-weight: normal;">
        UI/UX designed by <a href="https://www.linkedin.com/in/dan-y-chu/" style="text-decoration: none;">Danny Chu</a>.
    </h2>
{% endblock %}
