.content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.confirm-text {
    font-size: 1.4em;
    margin-left: 10%;
}

.right {
    float: right;
}

.link {
    font-family: 'Source Sans Pro', sans-serif;
}

.links-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.3em;
}

.link-home {
    margin-left: 10%;
    float: left;
    width: 40%;
    font-size: 1.3em;
}

#hiding-cat {
    width: 45%;
    display: block; /* Center image */
    margin-left: auto;
    margin-right: auto;
}
