body {
    background: url('../img/bg.png');
    background-size: contain;
    background-position: 0px -50px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: inherit;
}

/* Override base.css */
.white-above-navi, .navi-container, .heading, .content {
    background-color: transparent;
}

.heading {
    display: none;
}
.content {
    padding: 0;
}
.navi-container {
    border-bottom: none;
}

.banner {
    padding: 0 13px;
    padding-top: 50px;
    max-width: 1100px;
    margin: auto;
    transition: all 500ms ease;
    text-align: center;
}
.banner > * {
    padding-bottom: 50px;
}
.banner-heading {
    display: inline-block;
    font-weight: 700;
    padding-top: 100px;
}
@media screen and (min-width: 1100px) {
    .banner-heading, .tutoring-column {
        vertical-align: middle;
    }
    .banner-heading {
        width: 69%;
        box-sizing: border-box;
        padding-right: 10%;
    }
    .tutoring-column {
        width: 30%;
    }
}
@media screen and (max-width: 700px) {
    
}
.banner-title {
    font-size: 4em;
}
.banner-subtitle {
    font-size: 2.5em;
}
.banner-text {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 50px;
}

.boxes {
    display: none;
    max-width: 100%;
    text-align: center;
}
.box {
    display: inline-block;
    box-sizing: border-box;
    width: 340px;
    max-width: 100%;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.01);
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}
.box-img {
    height: 220px;
}
.box-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 20px;
}
.box-subtitle {
    font-weight: 400;
    padding: 15px;
    padding-bottom: 0;
}

.tutoring {
    background: url('');
    background-repeat: no-repeat;
    background-size: cover;
}
.tutoring-container {
    max-width: 1400px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}
.tutoring-column {
    display: inline-block;
    vertical-align: top;
    max-width: 600px;
    text-align: left;
}
@media screen and (max-width: 999px) {
    .tutoring-column {
        padding-bottom: 75px;
    }
    .tutoring-column:last-child {
        padding-bottom: 0;
    }
}
.plum-background {
    background-color: #f9f5f7;
}
.tutoring-panel {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.1);
}
.tutoring-text {
    padding-bottom: 3em;
}
.tutoring-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}
.tutoring-subtitle {
    font-size: 1.3em;
    font-weight: 300;
    opacity: 0.8;
}
.tutoring-panel table {
    border-spacing: 0;
}
.tutoring-date {
    text-align: center;
    font-size: 1.2em;
}
.tutoring-date div {
    padding-bottom: .5em;
}
.tutoring-panel td {
    padding: 10px;
}
.tutoring-seemore {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.tutoring-schedule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 25px;
}
.tutoring-top {
    padding-bottom: 15px;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.tutoring-day {
    color: #ad00aa;
    font-weight: 900;
    font-size: 1.3em;
    margin-left: 50px;
    margin-top: 40px;
}
.tutoring-hr {
    margin: 10px 0px;
    margin-left: 50px;
    height: 8px;
    width: 30px;
    background-color: #ad00aa;
}
.tutoring-office {
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: .9em;
    text-align: center;
}
.tutoring-bottom {
    display: flex;
    align-content: center;
    overflow-y: hidden;
}
.tutoring-time {
    background-color: #f9f5f7;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.02) inset;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}
.tutoring-time-item {
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}
.time-selected {
    border-left: 8px solid #ad00aa;
    padding-right: 10px;
    font-weight: 600;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tutoring-people {
    width: 100%;
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}
.tutoring-people-item {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.people {
    width: 50%;
}
.people-selected {
    font-weight: 600;
}

.what {
    margin-top: 100px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whatpic {
    width: 350px;
    height: 500px;
    margin: 20px;
}
.what_1 {
    margin-left: 0px;
    background: url('../img/what1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px 0px;
}
.what_2 {
    background: url('../img/what2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -100px 0px;
}
.what_3 {
    background: url('../img/what3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 0px;
}
.what-about {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.what-about-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 600px;
    padding: 0px 50px;
    text-align: left;
}
.what-about-subtitle {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.4;
    width: 600px;
    padding: 0px 50px;
    line-height: 35px;
    text-align: left;
}

.events {
    margin-top:150px;
    margin-bottom:150px;
    height: 500px;
    background: url('../img/bg-events.png');
    background-size: 35% 100%;
    background-position:100% 0%;
    background-repeat: no-repeat;
}

.events-container {
    margin: auto;
}
.events-title {
    font-size: 35px;
    font-weight: 600;
    color: #687ff8;
    margin-bottom: 30px;
}
.events-subtitle {
    font-size: 25px;
    font-weight: 300;
    color:#aaafc4;
}
.events-seemore {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #848b96;
}
.events-seemore a {
    color: #848b96;
}
.events-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.events-card-item {
    width: 350px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.events-card-title {
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 10px;
}
.events-card-day {
    color: rgba(0,0,0,0.3);
    font-weight: 400;
    font-size: 18px;
}
.events-card-time {
    margin-left: 20px;
    color: #687ff8;
}

.services {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 100px auto;
}
.services-title {
    font-size: 35px;
    font-weight: 800;
    margin: 10px 20px;
}
.services-subtitle {
    font-size: 20px;
    opacity: 0.3;
    margin: 20px 20px;
    font-weight: 800;
}
.services-leftright {
    width: 50%;
    margin: 10px;
}
.servicespic {
    margin: 20px;
    color: white;
    font-weight: 800;
    font-size: 23px;
}
.services-1 {
    position: relative;
    width: 500px;
    height: 350px;
    background: url('../img/services1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.services-2 {
    position: relative;
    width: 400px;
    height: 400px;
    background: url('../img/services2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.services-3 {
    position: relative;
    width: 300px;
    height: 200px;
    background: url('../img/services3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.services-text {
    color: white;
    font-size: 20px;
    margin:20px;
    font-weight: 600;
}

.footer {
    padding-top: 35px;
    padding-bottom: 35px;
}
.help-form-container {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
}
.help-form {
    display: inline-block;
    text-align: left;
    padding-bottom: 2em;
}
.form-title {
    font-size: 40px;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
}
