body { 
    background: url('/static/img/bg.png'); 
    background-size: contain;
    background-position: 0px -50px;
    color: #353535;
    margin: 0px;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner {
    max-width: 900px;
    margin: auto;
    color: #353535;
    margin-top: 200px;
    transition:all 500ms ease;
}

.banner-title {
    font-family: 'Monteserrat', sans-serif;
    font-size: 80px;
    font-weight: 800;
}

.banner-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
}


.banner-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 50px;
}

.navi {
    height: 60px;
    width: 1300px;
    margin: auto; 
    padding: 20px;
    display: flex;
    justify-content: space-between;;
    align-items: flex-start;
}

.navi-logo {  
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}

.navi-logo-img {
    width: 80px; 
} 

.navi-logo-text {
    margin-left: 15px;
}

.navi-logo-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.navi-logo-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.navi-extension {
    position: absolute;
    background-color: #111111;
    width: 100%;
    top: -400px;
    padding: 50px 0px;
    transition:all 500ms ease;
}

.navi-menu, .navi-extension-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navi-menu-item {
    padding: 15px;
    font-size: 15px;
    margin: 5px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
 .navi-extension-container {
    max-width: 1400px;
    margin: auto;
    height: 300px; 
    justify-content: space-between;
 }

 .navi-ext-container {
    display: flex;
    align-items: flex-start;
 }
 .navi-extension-item {
    font-weight: 400;
    font-size: 17px; 
    padding-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}


.navi-ext-item {
    padding: 0px 25px;
    font-size: 15px; 
    font-weight: 700;
    color: #d1d1d1; 
    font-family: 'Montserrat', sans-serif;
}

.navi-menu-ext-item {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px; 
    font-size: 17px;
    color: #f7f7f7;
}

.navi-ext-logo {
    color: #f7f7f7; 
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -20px;
}

.navi-ext-logo .navi-logo-text{
    margin: 0px;
    margin-top: 20px;
}

.navi-ext-logo .navi-logo-text .navi-logo-title{
    font-size: 25px;
}

.navi-ext-logo .navi-logo-text .navi-logo-subtitle{
    font-size: 20px;
}

.exit-ext-menu {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
}
.exit-ext-menu img { 
    width: 50px;
    height: 50px;
}

#toggle { 
    position: absolute;
    top: -100%;
    left: -100%;
    display: none;
}

label {
    cursor: pointer;
}

#toggle:checked ~ .navi-extension{
    top: 0;
}

#toggle:checked ~ .banner {
    margin-top: 400px;
}


.boxes {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 340px;
    height: 420px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.01);
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top:  150px;
}

.box-img { 
    height: 220px;
}

.box-title {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700; 
    margin-top: 20px;
}

.box-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
}


.tutoring {
    margin-top:150px;
    margin-bottom:150px;
    height: 800px;
    background: url('/static/img/bg-tutoring.png'); 
    background-size: 75% 100%; 
    background-repeat: no-repeat;
}

.tutoring-container {
    max-width: 1400px; 
    height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutoring-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}

.tutoring-title {
    font-family: "PT Sans", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
}

.tutoring-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}


.tutoring-seemore {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px; 
    font-weight: 400;
    margin-top: 20px;
    color: white;
}
.tutoring-seemore a {
    color: white;
}
 
.tutoring-schedule {
    margin-left: 100px;
    min-width: 650px;
    height: 530px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.02);
    background-color: #fefefe;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
.tutoring-top {
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.02);
    padding-bottom: 15px;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.tutoring-day {
    font-family: "Roboto", sans-serif;
    color: #ad00aa;
    font-weight: 900;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
}

.tutoring-hr { 
    margin: 10px 0px;
    margin-left: 50px;
    height: 8px;
    width: 30px;
    background-color: #ad00aa;
}

.tutoring-office {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    color: rgba(0,0,0,0.6); 
    font-weight: 500;
    font-size: 15px;
}

.tutoring-bottom{
    display: flex;
    align-content: center; 
    overflow-y: hidden;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.tutoring-time {
    background-color: #f9f5f7;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.02) inset;
    width: 120px;
    height: 100%;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px 0px;
}


.tutoring-time-item {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}

.time-selected {
    border-left: 8px solid #ad00aa;
    padding-right: 10px;
    font-weight: 600;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tutoring-people {
    width: 100%;
    height: 100%;
    flex-grow: 2; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px 0px;
}

.tutoring-people-item { 
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px 0px; 
}

.people {
    width: 50%;
}

.people-selected {
    font-weight: 600;
}


.what {
    margin: 50px 0px;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whatpic { 
    width: 350px;
    height: 500px;
    margin: 20px;
}

.what_1 {
    margin-left: 0px;
    background: url('/static/img/what1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: -200px 0px;
}

.what_2 {  
    background: url('/static/img/what2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: -100px 0px; 
}

.what_3 {  
    background: url('/static/img/what3.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    margin-right: 0px;
}

.what-about {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.what-about-title {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700; 
    margin-bottom: 20px;
    width: 600px;
    padding: 0px 50px;
    text-align: left;
}

.what-about-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400; 
    opacity: 0.4;
    width: 600px; 
    padding: 0px 50px;
    line-height: 35px;
    text-align: left;
}

.events {
    margin-top:150px;
    margin-bottom:150px;
    height: 500px;
    background: url('/static/img/bg-events.png'); 
    background-size: 35% 100%; 
    background-position:100% 0%;
    background-repeat: no-repeat;
} 

.events-container {
    max-width: 1000px; 
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-title {
    font-family: "PT Sans", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #687ff8;
    margin-bottom: 30px;
}

.events-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color:#aaafc4;
}


.events-seemore {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px; 
    font-weight: 400;
    margin-top: 20px;
    color: #848b96;
}
.events-seemore a {
    color: #848b96;
}

.events-card {
    width: 700px;
    margin-left: 100px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.events-card-item {
    width: 350px;
    height: 130px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.03);
    padding: 20px 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.events-card-title {
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 10px;
}
.events-card-day {
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0,0.3);
    font-weight: 400;
    font-size: 18px; 
}

.events-card-time {
    margin-left: 20px;
    color: #687ff8;
}

.services {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}

.services-title { 
    font-family: "Montserrat", sans-serif;
    font-size: 35px; 
    font-weight: 800;
    margin: 10px 20px;
}

.services-subtitle { 
    font-family: "Montserrat", sans-serif;
    font-size: 20px; 
    opacity: 0.3;
    margin: 20px 20px;
    font-weight: 800;
}

.services-leftright {
    width: 50%;
    margin: 10px;
}

.servicespic {
    margin: 20px; 
    color: white;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
}

.services-1 {  
    position: relative;
    width: 500px;
    height: 350px;
    background: url('/static/img/services1.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 0px 0px;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.services-2 {  
    position: relative;
    width: 400px;
    height: 400px;
    background: url('/static/img/services2.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 0px 0px;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.services-3 {  
    position: relative;
    width: 300px;
    height: 200px;
    background: url('/static/img/services3.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 0px 0px;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.services-text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin:20px;
    font-weight: 600;
}

.footer {
    background-color: #252525;
    padding: 100px 0px;
}

.footer-container {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-form {
    width: 600px;
}

.form-title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
}

label, input {
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255,255,255,0.48);
    font-weight: 400;
    font-size: 1.2rem !important;
}

.footer-contact {
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(255,255,255,0.48);
    font-weight: 300;
    font-size: 18px;
}

.contact-block {
    margin: 15px;
}
.contact-title {
    color: white;
    font-size: 25px;
}

.here {
    opacity: 0.7;
    border-bottom: 5px solid #516aff;
}