.content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.centered {
    max-width: 1250px;
    margin: 0 auto;
}

.conf-events, .unconf-events {
    list-style: none;
    font-size: 0.9em;
}

.conf-events li::before {
    content: "\25CF";
    color: green;
    display: inline-block;
    width: 15px;
    margin-left: -20px;
}

.unconf-events li::before {
    content: "\25CF";
    color: red;
    display: inline-block;
    width: 15px;
    margin-left: -20px;
}

@media screen and (min-width: 1250px) {
    .content {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}
@media screen and (min-width: 1000px) {
    .left-column, .right-column {
        width: 48%;
    }
    .right-column {
        padding-left: 4%;
        float: right;
    }
    #break {
        display: none;
    }
}
@media screen and (max-width: 999px) {
    .left-column::before {
        height: 10px;
    }
}
@media screen and (min-width: 750px) {
    .checklist-left-col, .checklist-right-col {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }
    .checklist-right-col {
        padding-left: 2%;
    }
}

section {
    background-color: #F2F2F2;
    padding: 20px;
}

h2:first-child {
    margin-top: 0;
}

/*Lastly, the clearfix hack to prevent floated elements overflowing container */
.centered::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left-narrow {
    width: 40%;
    float: left;
    padding-left: 4%;
}

.right-wide {
    width: 50%;
    float: right;
    padding-left: 27px;  /* Just the right absolute distance to make it appear under on a phone */ 
    padding-right: 2%;
}

.left-extra-narrow {
    width: 30%;
    float: left;
    padding-left: 4%;
}

.right-extra-wide {
    width: 60%;
    float: right;
    padding-left: 27px;
    padding-right: 2%;
}

.table-column-max {
    max-width: 160px;
    word-break: break-all;
}

.table-div {
    padding-left: 10%;
    padding-right: 30%;
}

.title-left-pad {
    margin-left: 5%;
}

.full-table {
    width: 100%;
}

.link {
    font-family: 'Source Sans Pro', sans-serif;
}

.links-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.3em;
}

.link-home {
    margin-left: 10%;
    float: left;
    width: 40%;
    font-size: 1.3em;
}

.inline-icon {
    width: 1.1em;
    vertical-align: middle;
}

.red {
    color: red;
}

.blue {
    color: #0000A0;
}

.gray-note {
    color: #727c81;
    font-size: 0.8em
}

.table-icon {
    width: 1.5em;
    vertical-align: middle;
}

.what-about-subtitle {
    font-size: 1.1em;
    font-weight: 400;
    opacity: 0.8;
    line-height: 1.75em;
}

/* 
about page
*/
img {
  max-width: 100%;
  height: auto;
}

a {
  color: grey;
}

a:hover {
  color: orange;
}

.column {
  float: left;
}

.half {
  width: 50%;
}

.one {
  width: 80%;
}

.two {
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
Styling
*/

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #ffa500;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #ffa500;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tabpadding {
    padding: 0% 5%;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

