.background {
    background-image: url(https://cdn.neow.in/news/images/uploaded/2018/12/1545326756_codes_story.jpg);
    background-size: cover;
}
.centered {
    margin: 0 auto;
    z-index: 9999;
}
.content {
  margin: -20px;
}
.heading {
    display: none;
}
.panel {
  margin: 0 auto;
  background-color: white;
  width: 30%;
  height: 300px;
  padding: 40px 20px;
  text-align: center;
}

.panel input[type=text]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-left: 10px;
}

.panel input[type=password]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
  margin-left: 10px;
}

.panel input[type=submit]{
  width: 260px;
  height: 35px;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
}

.panel input[type=submit]:hover{
  opacity: 0.8;
  outline: none;
}

.panel input[type=text]:focus{
  outline: none;
  border: 2px solid rgba(0,0,0,0.7);
}

.panel input[type=password]:focus{
  outline: none;
  border: 2px solid rgba(0,0,0,0.7);
}

.panel a{
  color: rgba(0,0,0,0.7);
  font-size:14px;
  font-weight: 400;
  padding: 6px;
  text-align: center;
}

.panel input[type=submit]:hover{
  opacity: 0.8;
  outline: none;
}

.panel input[type=text]:focus{
  outline: none;
  border: 2px solid rgba(0,0,0,0.7);
}

.panel input[type=password]:focus{
  outline: none;
  border: 2px solid rgba(0,0,0,0.7);
}

.side-by-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 700px) {
    label {
        display: inline-block;
        width: 72.4531px;
        text-align: right;
    }
}
