{% load static %}

<div style="display: inline-block; margin: 0 0.5em 1em 0.5em; vertical-align: top;">
    <img
        style="width: 10em; height: 10em;"
        {% if user.profile.picture %}
            src="{{ user.profile.picture_display_url }}"
            alt="{{ user.first_name }} {{ user.last_name }}"
        {% else %}
            src="{% static 'img/blank_profile_pic.jpg' %}"
            alt="Missing profile picture"
        {% endif %}
    >
    <br>
    <div style="width: 10em; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis;">
        <span style="font-size: 1em;">{{ user.first_name }} {{ user.last_name }}</span>
    </div>
    <div style="font-style: italic; font-size: 0.8em">{{ title }}</div>
    <!-- 21 is the length of "hkn.eecs.berkeley.edu" -->
    <div style="font-size: 0.8em">{{ user.email|slice:-21 }}</div>

    {% if request.GET.edit == "true" %}
        <br>
        <form autocomplete="off" method="POST" onsubmit="submit_button.disabled = true; return true;">
            {% csrf_token %}

            <input type="text" name="picture" maxlength="500" value="{{ user.profile.picture }}">
            <input type="hidden" value="{{ user.id }}" name="user_id">

            <button type="submit">Save</button>
        </form>
    {% endif %}
</div>
