{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}About HKN{% endblock %}


{% block heading %}
About HKN
{% endblock %}

{% block content %}
<div class='centered'>
<body>
  <div class='row'>

    <div class='column one'>
        <p class='what-about-subtitle'>Eta Kappa Nu (HKN) is the <a href='https://hkn.ieee.org/' target='_blank'>national Electrical and Computer Engineering honor society</a>. Founded in 1915, the Mu chapter at UC Berkeley is among the most active engineering societies at Berkeley. We strive to serve the Electrical Engineering and Computer Science (EECS) community at Berkeley by providing weekly tutoring hours, exam review sessions, department tours, course and staff evaluations, among many other services. Our two offices are located in 290 Cory and 345 Soda near the <a href='https://berkeley.edu/map' target='_blank'>northeastern corner of the UC Berkeley campus</a>.</p>
      </div>
      <div class='column two'>
        <a href="https://hkn.ieee.org/get-involved/awards/outstanding-chapter-award/" target="_blank" align='center'><p>
          <img id="outstanding-chapter" src="{% static 'img/outstanding_chapter.png' %}" alt="2019 Outstanding Chapter Award" width=100%></p></a>
      </div>
      
  </div>

  <div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="services" checked>
  <label for="tab1">Student Services</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="indrel">
  <label for="tab2">Industrial Relations</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="community">
  <label for="tab3">Community</label>
  
  <div class="tab-panels">
    <section id="services" class="tab-panel">
      <div class='tabpadding'>
        <div class='row'>
          <div class='column half'>
            <h2>Student Services</h2>
            
            <p><strong>Tutoring:</strong> Students who need advice or tutoring in EE and CS courses are encouraged to drop by for free assistance. Officers hold office hours from 11am to 5pm every weekday.</p>

            <p><strong>Exam Preparation:</strong> HKN provides a database of past exams and review problems to prepare students for midterms and finals. In addition, look out for exam review sessions for lower-division courses.</p>
            
            <p><strong>Course Surveys and Peer Advising:</strong> HKN conducts course surveys for all classes offered by the EECS department every semester. The results for all professors and TAs who have opted-in are available online. Students who need more advice in choosing classes are encouraged to consult our officers during office hours.</p>
          </div>
          <div class='column half'>
            <p align='right'><img id="maker-workshop" src="{% static 'img/maker workshop.jpg' %}" alt="HKN Maker Workshop" width=90%></p>
          </div>
        </div>
      </div>
    </section>

    <section id="indrel" class="tab-panel">
      <div class='tabpadding'>
        <h2>Industrial Relations</h2>
        <p>HKN has strong ties with industry, linking students with companies by setting up info sessions where companies can give a presentation about themselves and provide a forum for students to talk to industry and find out more about the work environment. Additionally, we sell resume books containing the resumes of our members.</p>
        <p align='center'><img id="sp19gm2" src="{% static 'img/sp19gm2.jpg' %}" alt="Spring 2019 GM2" width=45%></p>
      </div>
    </section>

    <section id="community" class="tab-panel">
      <div class='tabpadding'>
        <div class='row'>
          <div class='column half'>
            <p align='left'><img id="retreat" src="{% static 'img/retreat.jpg' %}" alt="Fa19 Retreat" width=90%></p>
          </div>
          <div class='column half'>
            <h2>Community</h2>
            <p><strong>Membership:</strong> Membership in Eta Kappa Nu is extended to undergraduates in the top fourth of the junior class and the top third of the senior class in EECS, and all continuing EE graduate students. After being invited to join, prospective members participate in projects and social activities that demonstrate their dedication to serving fellow members of the EECS community, the ultimate goal of HKN.</p>
            <p><strong>Alumni Network:</strong> HKN has an extensive alumni network available for support, referal pipelines, and general information. Our alumni work at companies such as Facebook, Apple, or Google; build up their own startups; or pursue higher education in graduate school.</p>
            <p><strong>Social:</strong> HKN hosts tons of social events for members, candidates, and alumni, and we partner with other engineering clubs to host fun destress events for the EECS community!</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <br/>
  </div>
</body>
</div>
{% endblock %}
