{% extends "base.html" %}
{% load static %}

{% block title %}Tutoring{% endblock %}
{% block heading %}Tutoring{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.css" />
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.css" />
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.css" />

    <script src="https://unpkg.com/@fullcalendar/core@4.4.0/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.js"></script>

    <script>
        function nav_button_onclick(class_name, default_count, incr) {
            const urlParams = new URLSearchParams(window.location.search);

            if (class_name == "fc-today-button") {
                urlParams.delete("nav");
            } else {
                if (urlParams.has("nav")) {
                    urlParams.set("nav", parseInt(urlParams.get("nav")) + incr);
                } else {
                    urlParams.set("nav", default_count);
                }
            }

            if (history.pushState) {
                var newurl = window.location.origin + window.location.pathname + "?" + urlParams.toString();
                window.history.replaceState({path: newurl}, "", newurl);
            }

            decorate_nav_buttons();
        }

        function decorate_nav_buttons() {
            document
                .getElementsByClassName("fc-next-button")[0]
                .addEventListener("click", function() { nav_button_onclick("fc-next-button", "1", 1); });
            document
                .getElementsByClassName("fc-prev-button")[0]
                .addEventListener("click", function() { nav_button_onclick("fc-prev-button", "-1", -1); });
            document
                .getElementsByClassName("fc-today-button")[0]
                .addEventListener("click", function() { nav_button_onclick("fc-today-button", "0", 0); });
        }
    </script>

    <style>
        a.fc-event{
            width: 15em;
        }

        .tooltip {
            color: black;
            background-color: WhiteSmoke;
            width: 200%;
            border-radius: 0.15em;
            min-height: 3em;
            padding: 0;
            position: relative;
            top: calc(-75% - 1px);
            left: -1px;
            z-index: 10;
            display: none;
        }

        .tooltip-title {
            text-align: center;
            margin-bottom: 0.5em;
            color: white;
            font-size: 125%;
            border-radius: inherit;
        }

        .tooltip-body {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

        .tooltip-tutor-img {
            display: inline-block;
            margin-right: 0.5em;
            width: 12em;
            height: 12em;
        }

        .tooltip-tutor-desc {
            display: inline-block;
            width: 15em;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        var selector_decorator;

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                // General options
                plugins: [ 'timeGrid' ],
                defaultView: 'timeGridDay',
                defaultDate: '{{ offset|date:"c" }}',
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today',
                },
                height: "auto",
                eventMaxStack: 1,
                allDaySlot: false,
                navLinks: true,
                eventLimit: false,
                views: {
                    timeGrid: {
                        minTime: '{{ calendar_start_time|date:"H:i:s" }}',
                        maxTime: '{{ calendar_end_time|date:"H:i:s" }}',
                        nowIndicator: true,
                    }
                },
                eventSources: [
                    {
                        url: '{% url "tutoring:slots" %}',
                        extraParams: function () {
                            function get_filtered_ids (id) {
                                var select_el = document.getElementById(id);
                                if (!select_el.nextElementSibling) {
                                    return {};
                                }

                                var text_id_mapping = {};
                                var select_options = select_el.options;
                                for (let i = 0; i < select_options.length; i++) {
                                    text_id_mapping[select_options[i].text] = select_options[i].value;
                                }

                                var select_choices = select_el.nextElementSibling.getElementsByTagName("li");
                                var select_choice_ids = [];
                                for (let i = 0; i < select_choices.length - 1; i++) {
                                    select_choice_ids.push(text_id_mapping[select_choices[i].title]);
                                }

                                return select_choice_ids.join(",");
                            }
                            return {
                                course_filter: get_filtered_ids("id_course"),
                                tutor_filter: get_filtered_ids("id_tutor"),
                            }
                        }
                    }
                ],
                eventRender: function (eventRenderInfo) {
                    var tooltip = document.createElement("div");
                    tooltip.id = eventRenderInfo.event.id + "tooltip";
                    tooltip.classList.add("tooltip");

                    var tooltip_title = document.createElement("div");
                    tooltip.append(tooltip_title);
                    tooltip_title.classList.add("tooltip-title");
                    tooltip_title.style.backgroundColor = eventRenderInfo.event.backgroundColor;
                    tooltip_title.append(eventRenderInfo.event.extendedProps.tooltip_title);

                    var tooltip_body = document.createElement("div");
                    tooltip.append(tooltip_body);
                    tooltip_body.classList.add("tooltip-body");

                    eventRenderInfo.event.extendedProps.tutors.forEach(t => {
                        var tutor_img = document.createElement("img");
                        tutor_img.classList.add("tooltip-tutor-img");
                        tutor_img.src = t.picture;
                        tutor_img.alt = t.alt;

                        var tutor_desc = document.createElement("div");
                        tutor_desc.classList.add("tooltip-tutor-desc");

                        var tutor_name = document.createElement("div");
                        tutor_name.style.fontWeight = "bold";
                        tutor_name.append(t.name);

                        tutor_desc.append(tutor_name);
                        tutor_desc.append("Courses: " + t.courses);

                        tooltip_body.append(tutor_img);
                        tooltip_body.append(tutor_desc);
                    });

                    eventRenderInfo.el.append(tooltip);
                },
                eventMouseEnter: function (mouseEnterInfo) {
                    document.getElementsByClassName("fc-time-grid-container")[0].style.overflow = "visible";

                    document.getElementById(mouseEnterInfo.event.id + "tooltip").style.display = "block";
                    mouseEnterInfo.el.style.zIndex = 10;
                },
                eventMouseLeave: function (mouseLeaveInfo) {
                    document.getElementById(mouseLeaveInfo.event.id + "tooltip").style.display = "none";
                    mouseLeaveInfo.el.style.zIndex = 1;
                }
            });

            calendar.render();

            selector_decorator = function () {
                calendar.refetchEvents();
            }
        });

        window.addEventListener("load", function () {
            decorate_nav_buttons();
        });

    </script>
{% endblock %}

{% block content %}
    <div style="text-align: center; overflow: auto;">
        <div style="width: 30em; margin: auto; display: inline-block; vertical-align: top; min-height: 40em;">
            <section id="calendar"></section>
        </div>

        <div style="display: inline-block; text-align: center; margin-left: 1em;">
            Filter by course
            <br>
            {{ form.course }}
            <br>

            Filter by tutor
            <br>
            {{ form.tutor }}
        </div>
    </div>
{% endblock %}
