{% extends "base.html" %}
{% load static %}
{% load tutor_tags %}

{% block title %}Slot Preference Form{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static "tutoring/style.css" %}">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>
</head>
<style>
    .heading {
      display: none;
    }
    .content {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    @media screen and (min-width: 1000px) {
      .content {
          padding-top: 1.5em;
          padding-bottom: 1.5em;
      }
    }
    .centered {
      max-width: 700px;
      margin: 0 auto;
    }
    ul {
      margin-top: 0;
      padding: 0;
      list-style-type: none;
    }
</style>
{% endblock %}

{% block heading %}Tutoring slot preferences{% endblock %}

{% block content %}
<h1> Sign up for tutoring hours </h1>

<mark>{{ message }}</mark>

<div class="left-align">
<form method = "POST" action="/tutoring/slotpref" onsubmit="submit_button.disabled = true; return true;">
  {% csrf_token %}
  <h2>Do you prefer for your slots to be adjacent?</h2>
  <p>"Adjacent Slots" means having two 1-hour time slots next to each other, forming a 2-hour time slot.</p>
  {{form.adjacent_pref}}
  <h2> Enter the amount of hours you are tutoring for per week</h2>
  {{form.num_assignments}}
  <h2> Enter the name as it appears in the <a href="https://hkn.eecs.berkeley.edu/about/officers" target="_blank" rel="noopener noreferrer">hkn.mu website</a></h2>
  <p> If your name is not listed as one of the Officers, please use the name in your account on the top right when you login in as Sentence Case.</p>
  <p> Example: BOB BOBERTSON should be entered as: Bob Bobertson. </p>
  {{form.tutor_name}}
  <h2> Timeslot preferences </h2>
  <p>For each time slot below, indicate your preference level for office hours.</p>

  <p>
    You can also indicate your office preference for individual time slots.<br/>
    No Preference (<i>center</i>), Slightly Prefered (<i>halfway center to edge</i>), and Strongly Prefered (<i>all the way to edge</i>)
    towards the room listed in each slot.
  </p>

  <p>
    If there are multiple room options, indicate your preference level for office hours for each room:<br/>
    Strongly undesired (<i>leftmost</i>), slightly undesired (<i>halfway left and center</i>), 
    no preference (<i>center</i>), slightly prefered (<i>halfway right and center</i>), and strongly prefered (<i>rightmost</i>).
  </p>

  <table border="1" cellpadding="10px">
    <tr>
      <th class="w3 pv2 bb b--light-gray">Hours</th>
      {% for day in days %}
      <th class="w4 pv2 bb b--light-gray">{{ day }}</th>
      {% endfor %}
    </tr>
    {% for hour, hour_pretty in hours %}
    <tr>
        <td class="pv2 w3 bb b--near-white"> {{hour_pretty}} </td>
        {% for slotfields in form|access_slotfields_at_hour:hour%}
        <td class="pv2 w ba b--near-white">
            {% for field in slotfields %}
              {% if field %}
                {% if field.label %}
                    {{ field.label }}
                {% endif %}
                <div>
                  {{ field }}
                </div>
              {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <p> </p>
  <div id="submit">
    <input type="submit" name="submit_button" value="Submit" style="width: 90px; height: 40px; font-size: 16px;"/>
  </div>
  <p> </p>
</form>
{% if messages %}
  {% for message in messages %}
      <br>
      <span class="message">{{ message }}</span>
  {% endfor %}
{% endif %}

{% endblock %}
