{% extends "base.html" %}
{% load static from staticfiles %}

{% block header %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
<!-- Materialize -->
<!-- Compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<!-- Compiled and minified JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

<title>Berkeley HKN</title>
{% endblock %}

{% block content %}
<div class="banner">
    <div class="banner-heading">
        <div class="banner-title">
            Eta Kappa Nu
        </div>
        <div class="banner-subtitle">
            Mu Chapter
        </div>
        <div class="banner-text">
            UC Berkeley's Electrical Engineering and Computer Sciences honor society
        </div>
    </div>
    
    <div class="tutoring-column">
        <div class="tutoring-panel">
            <div class="tutoring-title">
                Today's Tutoring Hours
            </div>
            <i class="tutoring-date"><div>April 22, 2019</div></i>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="tutoring-office">
                            345 SODA
                        </th>
                        <th class="tutoring-office">
                            290 CORY
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td class="plum-background">
                        11:00
                    </td>
                    <td>James Z.</td>
                    <td>Jessie Y., Michael W.</td>
                </tr>
                <tr>
                    <td class="plum-background">
                        12:00
                    </td>
                    <td>James Z.</td>
                    <td>Jessie Y., Michael W.</td>
                </tr>
                <tr>
                    <td class="plum-background">
                        13:00
                    </td>
                    <td>James Z.</td>
                    <td>Jessie Y., Michael W.</td>
                </tr>
                <tr style="border-left: 3px black;">
                    <td class="plum-background">
                        14:00
                    </td>
                    <td>James Z.</td>
                    <td>Jessie Y., Michael W.</td>
                </tr>
                <tr>
                    <td class="plum-background">
                        15:00
                    </td>
                    <td>James Z.</td>
                    <td>Jessie Y., Michael W.</td>
                </tr>
                <tr>
                    <td class="plum-background">
                        16:00
                    </td>
                    <td>James Z.</td>
                    <td>Jessie Y., Michael W.</td>
                </tr>
            </table>
            <!-- <div class="tutoring-schedule">
                <div class="tutoring-top">
                    <div class="tutoring-day">Friday, Apr 4</div>
                    <hr class="tutoring-hr">
                    <div class="tutoring-office">
                        <div class="tutoring-office-1">290 CORY</div>
                        <div class="tutoring-office-1">345 SODA</div>
                    </div>
                </div>

                <div class="tutoring-bottom">
                    <div class="tutoring-time">
                        <div class="tutoring-time-item">11:00</div>
                        <div class="tutoring-time-item">12:00</div>
                        <div class="tutoring-time-item">13:00</div>
                        <div class="tutoring-time-item time-selected">14:00</div>
                        <div class="tutoring-time-item">15:00</div>
                        <div class="tutoring-time-item">16:00</div>
                    </div>

                    <div class="tutoring-people">
                        <div class="tutoring-people-item">
                            <div class="people">James Z</div>
                            <div class="people">Jessie Y, Michael W</div>
                        </div>
                        <div class="tutoring-people-item">
                            <div class="people">James Z</div>
                            <div class="people">Jessie Y, Michael W</div>
                        </div>
                        <div class="tutoring-people-item">
                            <div class="people">James Z</div>
                            <div class="people">Jessie Y, Michael W</div>
                        </div>
                        <div class="tutoring-people-item people-selected">
                            <div class="people">James Z</div>
                            <div class="people">Jessie Y, Michael W</div>
                        </div>
                        <div class="tutoring-people-item">
                            <div class="people">James Z</div>
                            <div class="people">Jessie Y, Michael W</div>
                        </div>
                        <div class="tutoring-people-item">
                            <div class="people">James Z</div>
                            <div class="people">Jessie Y, Michael W</div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    
        <br>
    
        <div class="tutoring-panel">
            <div class="tutoring-title">
                Upcoming Events
            </div>
            <ul>
                <li>
                    Nice formatting on this list is yet to do.
                </li>
                Date
            </ul>
            <!-- <div class="events-card">
                <div class="events-card-item">
                    <div class="events-card-title">
                        Junior EECS Day
                    </div>
                    <div class="events-card-day">
                        Sat 4/14
                        <span class="events-card-time">10:00 - 15:00</span>
                    </div>
                </div>

                <div class="events-card-item">
                    <div class="events-card-title">
                        Cal Day + Workshops
                    </div>
                    <div class="events-card-day">
                        Sat 4/21
                        <span class="events-card-time">10:00 - 15:00</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="what">
    <div class="whatpic what_1"></div>
    <div class="whatpic what_2"></div>
    <div class="what-about">
        <div class="what-about-title">What is HKN?</div>
        <div class="what-about-subtitle">
                Eta Kappa Nu (HKN) is the national Electrical and Computer Engineering honor society. The Berkeley chapter is among the most active engineering societies at Berkeley, providing services to fellow undergraduates. Welcome to our website!
        </div>
    </div>
    <div class="whatpic what_3"></div>
</div>

<div class="services">
    <div class="services-leftright">
        <div class="services-title">Our Services</div>
        <div class="services-subtitle">
            We host a variety of acdemic, industry, and service events to help grow our EECS community. Here's a taste of some of what we do.
        </div>
        <div class="servicespic services-1">
            <div class="services-text">
                Maker Workshops
            </div>
        </div>
    </div>

    <div class="services-leftright">
        <div class="servicespic services-2">
            <div class="services-text">
                EECS Stack Decal
            </div>
        </div>

        <div class="servicespic services-3">
            <div class="services-text">
                Course Surveys
            </div>
        </div>
    </div>
</div>

<div class="boxes">
    <div class="box">
        <img src="{% static "img/box1.png" %}" class="box-img"/>
        <div class="box-title">Tutoring Hours</div>
        <div class="box-subtitle">
            Questions about your classes? We're here to help!
        </div>
    </div>

    <div class="box">
        <img src="{% static "img/box2.png" %}" class="box-img"/>
        <div class="box-title">Exam Archives</div>
        <div class="box-subtitle">
            Find past exams and solutions from various EE and CS classes.
        </div>
    </div>

    <div class="box">
        <img src="{% static "img/box3.png" %}" class="box-img"/>
        <div class="box-title">Course Guides</div>
        <div class="box-subtitle">
            Find related courses to help you plan your next classes.
        </div>
    </div>
</div>
{% endblock %}

{% block extra-footer %}
<div class="help-form-container">
    <div class="help-form">
        <div class="form-title">We're <span style="opacity: 0.8; border-bottom: 5px solid #346F9E; /* HKN navy */">here</span> to help.</div>
        <form class="footer-block-text">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Your name</label>
            <br>
            
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Your email</label>
            <br>
        
            <input id="last_name" type="text" class="validate">
            <label for="last_name">How can we help?</label>
        </form>
    </div>
</div>
{% endblock %}
