{% extends "base.html" %}
{% load static %}
{% block title %} Your RSVPs {% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'events/style.css' %}">
<style>
    .long-text-container {
        position: relative;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .long-text-container:hover {
        white-space: normal;
        overflow: visible;

        height: 1.3em;

        z-index: 10;
    }

    .event-type-label {
        border: 0;
        font-size: 110%;
    }
</style>
<script>
    function action(button, link) {
        button.disabled = true;

        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;

            if (this.status == 200) {
                window.location = window.location;
            }
        };

        xhr.open("POST", link, true);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.send();
    }

    function change_event_type(button, event_type) {
        button.disabled = true;

        const urlParams = new URLSearchParams(window.location.search);

        if (history.pushState) {
            var newurl = window.location.origin + window.location.pathname + "?option=" + urlParams.get("option") + "&event_type=" + event_type;
            window.history.replaceState({path: newurl}, "", newurl);
        }

        window.location = window.location;
    }
</script>
{% endblock %}

{% block heading %} Your RSVPs {% endblock %}

{% block content %}
    <div class="parent">

        <div class="centered">
            Choose an event type: 
            {% for event_type in event_types %}
                <button class="rounded-text-box event-type-label" style="background-color: {{ event_type.color }};" onclick="change_event_type(this, '{{ event_type.type }}')">{{ event_type.type }}</button>
            {% endfor %}
            <br>

            See
                {% if request.GET.option == "upcoming" %}
                    <a href="{% url 'events:rsvps' %}?option=semester">all events </a>
                {% else %}
                    <a href="{% url 'events:rsvps' %}?option=upcoming">upcoming events</a>
                {% endif %}
            this semester
            <br>

            <img class="table-icon" src="{% static 'candidate/maybe.png'%}">
            indicates waitlist
        </div>

        {% for rsvp_type_data in data %}
            <div class="{{ rsvp_type_data.class }}">
                <h3>{{ rsvp_type_data.title }}</h3>

                <table class="full-table" style="text-align: center; table-layout:fixed">
                    <tr>
                        <td colspan="4">
                            <span class="rounded-text-box" style="background-color: {{ event_type.color }};">
                                {{ event_type.type }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>

                    {% for event in rsvp_type_data.events %}
                        <tr>
                            <td align="center">
                                <div class="long-text-container">
                                    <a href="{% url 'events:detail' event.event.id %}" class="rounded-text-box" style="background-color: {{ event_type.color }};">
                                        {{ event.event.name }}
                                    </a>
                                </div>
                                {% if event.waitlisted %}
                                    <img src="{% static 'candidate/maybe.png' %}" alt="waitlisted" class="table-icon">
                                {% endif %}
                            </td>
                            <td align="center">{{ event.event.start_time }}</td>
                            <td align="center" style="width: 30%">
                                <div class="long-text-container">
                                    {{ event.location | safe }}
                                </div>
                            </td>
                            <td align="center">
                                <button onclick="action(this, '{{ event.action }}')">{{ rsvp_type_data.display_value }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
