{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block header %}
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="{% static "js/calendar.js" %}"></script>
{% endblock %}

{% block content %}
  <h1 class="">HKN Events</h1>

  <h2>Calendar</h2>
  <div id='calendar'></div>

  <h2>Agenda</h2>
  <div id='agenda'>
  {% for event in events %}
    <h3>{{ event.name }}</h3>
    <p>{{ event.description }}</p>
    <br/>
  {% endfor %}
  </div>

  <!-- TODO: add public event feed (ical) -->
{% endblock %}
