{% extends "base.html" %}
{% load static %}
{% block title %}Edit {{ event.name }}{% endblock %}

{% block header %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'events/style.css' %}">
<style>
    .heading {
        display: none;
    }
    .content {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    @media screen and (min-width: 1000px) {
        .content {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }
    }
    .centered {
        max-width: 700px;
        margin: 0 auto;
    }
</style>
{% endblock %}

{% block heading %}Edit Event: {{ event.name }}{% endblock %}

{% block content %}
<h1 id="add-event-title"> Edit Event: {{ event.name }} </h1>

<div class="centered">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="row">
                {{ field.label }}
                {% if field.field.required %}
                    <span class="message">*</span>
                {% endif %}
                {{ field }}
                <span class="message">
                    {{ field.errors }}
                </span>
            </div>
        {% endfor %}

        <input type="submit" value="Update">
        {% if messages %}
            {% for message in messages %}
                <br>
                <span class="message">{{ message }}</span>
            {% endfor %}
        {% endif %}
    </form>

    <script>
        $(function () {
            $("#id_start_time").datetimepicker({
                format: 'm/d/Y g:i A',
                formatTime: 'g:i A',
                validateOnBlur: false,
            });
        });
        $(function () {
            $("#id_end_time").datetimepicker({
                format: 'm/d/Y g:i A',
                formatTime: 'g:i A',
                validateOnBlur: false,
            });
        });
    </script>
</div>
{% endblock %}
