{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block header %}
  <!-- Random scripts which make the calendar work: -->
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>

  <script type="text/javascript">
    function renderDateInISO(dateStr) {
      // Transforms input such as 'Feb. 2, 2019, 10:36 p.m.' to an ISO string such as '2017-10-12T20:00:00' or '2017-10-12'
      dateStr = dateStr.replace("p.m.", "pm").replace("a.m.", "am"); // new Date() wants "pm" not "p.m."
      return (new Date(dateStr)).toISOString();
    }

    $(document).ready(function () {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultDate: new Date(),
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        fixedWeekCount: false,
        aspectRatio: 1.75,
        events: [ {% for event in events %}
          {
            title: '{{ event.name }}',
            start: renderDateInISO('{{ event.start_time }}'),
            end: renderDateInISO('{{ event.end_time }}'),
            url: '{{ event.id }}'
          },
        {% endfor %}
        ]
      })
    })
  </script>
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
    {% if messages %}
        {% for message in messages %}
            <h3  {% if messages.tags %} class="{{ message.tags }}" {% endif %} style="color: #0000A0;">{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <h1 class="font-title f3 f2-ns tc">Upcoming Events</h1>

    <section id='calendar'></section>

    <br></br>
    <form action="new" method="GET">
        <button type='submit'>New Event</button>
    </form>

    <br>
    <form action="checklist" method="GET">
        <button type='submit'>Checklist</button>
    </form>

  <!-- Commented out, for now...?:
  <section id='agenda'>
    <h2 class="font-title f4 f3-ns">Agenda</h2>
    {% for event in events %}
      <h3 class="f5 f4-l mv2">{{ event.name }}</h3>
      <p class="f5 lh-copy mv2">{{ event.location }}</p>
      <blockquote class="ml0 mt0 pl4 black-90 bl bw2 b--blue">
        <p class="f5 lh-copy mt0">{{ event.description }}</p>
      </blockquote>
      <br/>
    {% endfor %}
  </section> -->
</div>
{% endblock %}
