{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block header %}
<!-- Scripts which make the calendar work: -->
<link rel='stylesheet' href="https://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
<script src="https://unpkg.com/moment/min/moment.min.js"></script>
<script src="https://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
<script src="https://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            fixedWeekCount: false,
            aspectRatio: 1.75,
            events: [ {% for event in events %}
                {
                title: '{{ event.name }}',
                start: '{{ event.start_time|date:"c" }}', // date:"c" renders the dates in ISO format, as fullcalendar needs them
                end: '{{ event.end_time|date:"c" }}',
                url: '{{ event.id }}'
                },
            {% endfor %}]
        })
    })
</script>
<style>
    .content {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    @media screen and (min-width: 1250px) {
        .content {
            padding-top: 2.5em;
            padding-bottom: 2.5em;
        }
    }
    .centered {
        max-width: 1250px;
        margin: 0 auto;
    }
    #button {
        width: 100%;
        text-align: center;
    }
</style>
{% endblock %}

{% block heading %}
Upcoming Events
{% endblock %}

{% block content %}
<div class="centered">
    {% if messages %}
        {% for message in messages %}
            <h3  {% if messages.tags %} class="{{ message.tags }}" {% endif %} style="color: #0000A0;">{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <section id='calendar'></section>
    
    <style>
        .fc-center h2 {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 30px;
            font-weight: 400;
        }
    </style>
    
    <br>
    <form action="new" method="GET" id="button">
        <button type='submit'>Add an event</button>
    </form>
</div>
{% endblock %}
