{% extends "base.html" %}
{% load static %}

{% block title %}{{ event.name }}{% endblock %}

{% block header %}
{{ event.name }}
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">

  <h1> {{ event.name }} </h1>

  {% if messages %}
    {% for message in messages %}
      <h3 {% if messages.tags %} class="{{ message.tags }}" {% endif %} style="color: #B78727;">{{ message }}</h3>
    {% endfor %}
  {% endif %}

  <!-- RSVP/un-RSVP button -->
  {% if rsvp %}
    <form action={% url 'events:unrsvp' event.id %} method="post">
      {% csrf_token %}
      <input type="submit" value="un-RSVP" />
    </form>
  {% else %}
    <form action={% url 'events:rsvp' event.id %} method="post">
      {% csrf_token %}
      <input type="submit" value="RSVP" />
    </form>
  {% endif %}
  
  <p>{{ event.description }}</p>

  <p><b>Event Type</b>: {{ event.event_type }}</p>

  <p><b>Location</b>: {{ event.location }}</p>
  
  <div id="date-and-time"></div>
  <!-- Script to render dates prettily -->
  <script>
    var start = new Date('{{ event.start_time|date:"c" }}');
    var end = new Date('{{ event.end_time|date:"c" }}');
    var sameDayEvent = start.getDate() === end.getDate() && start.getMonth() === end.getMonth() && start.getYear() === end.getYear();
    
    if (sameDayEvent) {
      var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var HTMLtext = '<p><b>Date</b>: ' + start.toLocaleDateString() + "&nbsp;&nbsp;" + weekdays[start.getDay()] +
                     '</p> <p><b>Time</b>: ' + start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) + ' to ' +
                     end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
    } else { // Event starts and ends on different days
      var HTMLtext = '<p><b>Starts</b>: ' + start.toLocaleDateString() + ' at ' + 
                     start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) + '</p> <p><b>Ends</b>: ' + 
                     end.toLocaleDateString() + ' at ' + end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
    }
    document.getElementById("date-and-time").innerHTML = HTMLtext;
  </script>

  <p><a href="{% url 'events:index' %}">
      Go Back to Calendar
  </a></p>

  <br>
</div>
{% endblock %}
