{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "candidate/style.css" %}">
{% endblock %}

{% block title %} 401 Error {% endblock %}

{% block heading %}
Oops!
{% endblock %}

{% block content %}

<div class="parent">
    <span class="confirm-text">
        You do not have access to this page. If this issue persists, contact CompServ or VP.
    </span>
    <br><br>

    <img id="hiding-cat" src="{% static 'img/hiding_cat.jpg' %}" alt="hiding cat">

    <br>
    <div class="link-home link">
        <a href="{% url "home" %}">Go to home</a>
    </div>

    <br><br>

</div>



{% endblock %}
