{% extends "base.html" %}
{% load static %}

{% block title %}Candidate Officer Challenges{% endblock %}

{% block header %}
  <!--<link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />-->
  <!--<script src="http://unpkg.com/moment/min/moment.min.js"></script>-->
  <!--<script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>-->
  <!--<script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>-->
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
    <h1 class="font-title f3 f2-ns tc">Your Officer Challenges</h1>

    <!-- Feel free to replace this terrible styling! -->

    <!-- Left side of page, form to request new challenges -->
    <div style="width: 40%; float: left; padding-left: 50px; font-family: Georgia; font-size: 10pt">
        <h3>Request Officer Challenge Confirmation</h3>

        {% load app_filters %}

        <form method="POST">{% csrf_token %}
            {% for field in form %}
                <br>
                <span style="float: left;">{{ field.label }} {% if field.field.required %}
                    <span style="color: red;">* </span>{% endif %}
                </span>&nbsp
                {% if field|field_type == 'Textarea' %}
                    <br/>
                {% endif %}
                {{ field }}
                {% if field.label == 'Proof' %}
                <br/>
                <span style="color: #0000A0; font-size: 8pt">
                    You can optionally include some proof that you've completed
                    the challenge. If your proof is a file, you can send it to
                    the Slack channel, or upload to Google Drive paste a link here.
                </span>
                {% endif %}
                {{ field.errors }}
                <br/>
            {% endfor %}
            <br/>

            <input class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Submit"/>
        </form>
    </div>

    <!-- Right side of page, list of requested challenges -->
    <section id='agenda'  style="width: 50%; float: right; padding-left: 20px; padding-right: 20px; font-family: Georgia; font-size: 10pt">
        <h3>Past Requests</h3>

        {% if challenge_list %}
            <table style="width: 100%;">
                <thead>
                    <th>Title</th>
                    <th>Officer</th>
                    <th>Status</th>
                </thead>

                <tbody>
                {% for challenge in challenge_list %}
                    <tr>
                        <td align="center">
            				<a href="{% url 'candidate:detail' challenge.id%}">
            					{{ challenge.name }}
            				</a>
            			</td>
                        <td align="center">{{ challenge.officer }}</td>
                        <td align="center">
                            {% if not challenge.reviewed %}
                                <img src="{% static 'candidate/maybe.png'%}" alt="in progress" style="width: 10%;">
                            {% elif challenge.confirmed %}
                                <img src="{% static 'candidate/yes.png'%}" alt="confirmed" style="width: 10%;">
                            {% else %}
                                <img src="{% static 'candidate/no.png'%}" alt="declined" style="width: 10%;">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No requests to show.</p>
        {% endif %}

        <!-- Legend for status of challenge request -->
        <p>
        Confirmed <img src="{% static 'candidate/yes.png'%}" alt="confirmed" style="width: 4%; vertical-align: middle;">
        Declined <img src="{% static 'candidate/no.png'%}" alt="declined" style="width: 4%; vertical-align: middle;">
        Waiting for response <img src="{% static 'candidate/maybe.png'%}" alt="in progress" style="width: 4%; vertical-align: middle;">
        </p>

        </div>

</div>

{% endblock %}
