<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

    <p>
        {% if confirmed %}
            Congratulations! {{ officer_name }} ({{ officer_username }}) has
            confirmed your officer challenge!
        {% else %}
            Oh no! Your officer challenge from {{ officer_name }} ({{ officer_username }})
            has been rejected by either the officer or csec.
        {% endif %}
        Click
        <a href="{{ challenge_link }}">here</a>
        to view the officer's feedback.
    </p>

    <p>
        Have a nice day!
    </p>

    <!-- TODO: add attribution to pexels.com -->
    <img src="{{ img_link }}" alt="cute animal">

</body>
</html>
