{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "candidate/style.css" %}">
{% endblock %}

{% block title %}Candidate Officer Challenges{% endblock %}

{% block heading %}
Your Officer Challenges
{% endblock %}

{% block content %}
<div class="parent">

    <!-- Left side of page, form to request new challenges -->
    <div class="left-narrow">
        <h3>Request Officer Challenge Confirmation</h3>

        {% for message in messages %}
            <span {% if messages.tags %} class="{{ message.tags }}" {% endif %}
                class="blue">{{ message }}</span>
        {% endfor %}

        {% load app_filters %}

        <form method="POST">{% csrf_token %}
            {% for field in form %}
                <br>
                <span class="left">{{ field.label }}
                    {% if field.field.required %}<span class="red">* </span>{% endif %}
                </span>&nbsp
                {% if field.label == 'Proof' %}
                <span class="tooltip">
                    <img src="{% static 'candidate/more_info.png' %}" alt="more info" class="inline-icon">
                    <span class="tooltiptext">
                        You can include some proof that you've completed the challenge.
                        If applicable, send it to #challenges on Slack and paste a link here.
                        You can obtain the link by clicking "More actions->Copy link"
                        on Slack. The link should start with "https://hkn.slack.com/archives/"
                    </span>
                </span>
                {% endif %}
                {% if field|field_type == 'Textarea' %}
                    <br/>
                {% endif %}
                {{ field }}
                {{ field.errors }}
                <br/>
            {% endfor %}
            <br/>

            <input class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Submit"/>
        </form>

        <p class="link">
            <a href="{% url 'candidate:index' %}">Back to candidate portal</a>
        </p>
    </div>

    <!-- Right side of page, list of requested challenges -->
    <div id='agenda' class="right-wide">
        <h3>Past Requests</h3>

        {% if challenge_list %}
            <table class="full-table">
                <thead>
                    <th>Title</th>
                    <th>Officer</th>
                    <th>Status</th>
                </thead>

                <tbody>
                {% for challenge in challenge_list %}
                    <tr>
                        <td align="center">
            				<a href="{% url 'candidate:detail' challenge.id%}">
            					{{ challenge.name }}
            				</a>
            			</td>
                        <td align="center">{{ challenge.officer }}</td>
                        <td align="center">
                            {% if challenge.confirmed %}
                                <img src="{% static 'candidate/yes.png'%}" alt="confirmed" class="table-icon">
                            {% elif challenge.rejected %}
                                <img src="{% static 'candidate/no.png'%}" alt="rejected" class="table-icon">
                            {% else %}
                                <img src="{% static 'candidate/maybe.png'%}" alt="in progress" class="table-icon">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No requests to show.</p>
        {% endif %}

        <!-- Legend for status of challenge request -->
        <p>
        Confirmed <img src="{% static 'candidate/yes.png'%}" alt="confirmed" class="inline-icon">
        Declined <img src="{% static 'candidate/no.png'%}" alt="declined" class="inline-icon">
        Waiting for response <img src="{% static 'candidate/maybe.png'%}" alt="in progress" class="inline-icon">
        </p>

    </div>

</div>

{% endblock %}

