<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>

    <p>
        {{ candidate_name }} ({{ candidate_username }})
        has requested you to confirm an officer challenge.
        Please click
        <a href="{{ confirm_link }}">here</a>
        to confirm or decline the challenge.
    </p>

    <p>
        Have a nice day!
    </p>

    <img src="{{ img_link }}" alt="cute animal"><br>
    <span style="font-size: 0.8em;"> Image source: pexels.com </span>

</body>
</html>
