{% extends "base.html" %}
{% load static %}

{% block title %}Alumni Detail{% endblock %}

<!-- TODO Currently contains gibberish -->

{% block header %}
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
  <h1 class="font-title f3 f2-ns tc">View Officer Challenge:</h1>

    <!-- I'm using a readonly form to display information. This is a bad idea.
         So if you wanna fix it, GO AHEAD. -->
    <div style="padding-left: 20px; font-family: Georgia;">
        <form class="center" method="GET">
            <table class="tl dt dt--fixed w-100" font-family: Georgia;>
                  {% csrf_token %}
            Title: <input text="text" value="{{ name }}" size="{{ name|length }}" readonly></input><br/>
            Officer: <input text="text" value="{{ officer }}" size="{{ officer|length }}" readonly></input><br/>
            Requested by: <input text="text" value="{{ requester }}" size="{{ requester|length }}" readonly></input><br/>
            Detailed Description: <input text="text" value="{{ description }}" size="{{ description|length }}" readonly></input><br/>
            Proof: <input text="text" value="{{ proof }}" size="{{ proof|length }}" readonly></input><br/>
            Confirmed: <input text="text" value=
                "{% if confirmed %}Yes{% else %}No{% endif %}"
                  size="2" readonly></input><br/>
            Request Date: <input text="text" value="{{ request_date }}" size="{{ request_date|length }}" readonly></input><br/>
            </table>
        </form>

  <div class="center pv3"><a href="{% url 'candidate:candrequests' %}?q=\\">Go Back to All Challenges</a></div>

</div>

{% endblock %}
