{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "candidate/style.css" %}">
{% endblock %}

{% block title %}Challenge Detail{% endblock %}

{% block heading %}
View Officer Challenge
{% endblock %}

{% block content %}
<div class="detail">
    <b>Title:</b> {{ challenge.name }}<br/>
    <b>Officer:</b> {{ challenge.officer.username }} ({{ officer_name }})<br/>
    <b>Requested by:</b> {{ challenge.requester.username }} ({{ requester_name }})<br/>
    <b>Detailed Description:</b> {{ challenge.description }}<br/>
    <b>Proof:</b> {{ challenge.proof }}<br/>
    <b>Status:</b>
    {% if challenge.confirmed %}
        <img src="{% static 'candidate/yes.png'%}" alt="confirmed" class="inline-icon">
        Confirmed uwu</br>
    {% elif challenge.rejected %}
        <img src="{% static 'candidate/no.png'%}" alt="rejected" class="inline-icon">
        Declined :<</br>
    {% else %}
        <img src="{% static 'candidate/maybe.png'%}" alt="in progress" class="inline-icon">
        Waiting for officer/csec response</br>
    {% endif %}
    <b>Comments from the Officer:</b> {{ challenge.officer_comment }}<br/>
    <b>Request Date:</b> {{ challenge.request_date }}<br/>


    {% if viewer_is_the_officer %}
        <p class="link"><a href="{{ review_link }}">
        {% if challenge.officer_confirmed is not None %}
            Change My Review of This Challenge
        {% else %}
            Review This Challenge
        {% endif %}
        </a></p>
    {% endif %}


    <!-- Link to go back depends on whether you're a candidate or officer -->
    {% if viewer_is_an_officer %}
        <p class="link"><a href="{% url 'candidate:offrequests' %}">
            Go Back to All Challenges from Me
        </a></p>
    {% else %}
        <p class="link"><a href="{% url 'candidate:candrequests' %}">
            Go Back to All Requested Challenges
        </a></p>
    {% endif %}

</div>

{% endblock %}
