{% extends "base.html" %}
{% load static %}

{% block title %}Candidate Portal{% endblock %}

{% block heading %}
Candidate Portal
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">

    <div style = "float:left; width: 800px">
        <section id='agenda' style="background-color: #EEEEEE; margin: 0.5%; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 10px">
            <h3>Announcements</h3>
            <span style="font-weight: bold">Welcome to the Candidate Portal!</span> (Posted by placeholder for now) <br>
            <span>This is where you can see your progress and RSVP for upcoming events. Check back here often to stay up-to-date with the candidate semester.</span>
        </section>

        <br>

        <section id='agenda' style="background-color: #EEEEEE; margin: 0.5%; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 10px">
            <h3>Requirements</h3>
            <ol type="1">
                <li>Attend Candidate Meeting</li>
                <li>Attend all 3 General Meetings</li>
                <li>Attend 3+ Fun Events</li>
                <li>Attend 1+ Big Fun Events</li>
                <li>Attend 1+ Serv Events</li>
                <li>Complete 3+ Interactivities</li>
                <ul style="list-style-type:circle;">
                    <li>Officer Challenges</li>
                    <li>Officer Hangouts</li>
                </ul>
                <li>Attend 1+ Prodev Event</li>
                <li>Administer 1-2 Course Surveys</li>
                <li>Complete a Committee Project</li>
                <li>Complete Bit-Byte Requirements</li>
                <ul style="list-style-type:circle;">
                    <li>2 Adventures</li>
                    <li>1 Boba or Equivalent</li>
                </ul>
                <li>Pay all dues (2 sets)</li>
                <li>Complete all required forms</li>
                <ul style="list-style-type:circle;">
                    <li>Candidate Information Form</li>
                    <li>Committee Preference Form</li>
                    <li>Bit-Byte Pairing Survey</li>
                    <li>Resume Drop</li>
                    <li>Candidate Quiz</li>
                    <li>Candidate Feedback Form</li>
                    <li>Membership Application Form</li>
                <ul>
            </ol>
        </section>

        <br>

        <!-- Feel free to replace this terrible styling! -->
        <!-- These are links to request officer challenges and confirm officer
             challenges respectively. -->
        <section id='agenda' style="background-color: #EEEEEE; margin: 0.5%; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 10px">
            <!-- font-family: Georgia; -->
            <h3>Checklist</h3>

            <div style="float: left">
                <h4>Events</h4>
                <ul>
                    <li>Mandatory for Candidates</li>
                    <ol type="1">
                        <li>CM</li>
                        <li>GM 1</li>
                        <li>GM 2</li>
                        <li>GM 3</li>
                    </ol>
                    <li>Fun</li>
                    <ol type="1">
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                        <li>Thing 3</li>
                    </ol>
                    <li>Big Fun</li>
                    <ol type="1">
                        <li>Thing 1</li>
                    </ol>
                    <li>Service</li>
                    <ol type="1">
                        <li>Thing 1</li>
                    </ol>
                    <li>Prodev</li>
                    <ol type="1">
                        <li>Thing 1</li>
                    </ol>
                </ul>
            </div>
            <div style="float: right">
                <h4>Interactivities</h4>
                <ul>
                    <li>Officer Challenges</li>
                    <ul>
                        <li><a href="{% url 'candidate:candrequests' %}">(Candidate) Request Confirmation</a></li>
                        <li><a href="{% url 'candidate:dummy' %}">(Officer) Confirm Challenge Requests [coming soon]</a></li>
                    </ul>
                    <li>Officer Hangouts</li>
                    <ol type="1">
                        <li>Things</li>
                    </ol>
                </ul>

                <h4>Bit-Byte</h4>
                <ul>
                    <li>Adventures</li>
                    <ol type="1">
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                    </ol>
                    <li>Boba or Equivalent</li>
                    <ol type="1">
                        <li>Thing 1</li>
                    </ol>
                </ul>
            </div>
        </section>

        <br>
    </div>

    <div style="float:right; width: 300px">
        <section id='agenda' style="background-color: #EEEEEE; margin: 0.5%; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 10px; width: 150">
            <h3>Upcoming Events</h3>
            <p><a href="{% url 'events:index' %}">(see calendar)</a></p>

            <h3>Important Information</h3>
            [Coming Soon]

            <h3>Additional Forms</h3>
            [Coming Soon]
        </section>
    </div>

</div>

{% endblock %}
