{% extends "base.html" %}
{% load static %}

<!-- I just made this to have a place to put the officer stuff.
     Feel free to delete this page later, as long as you still
     keep the mechanism for making officer challenge requests. -->

{% block title %}Candidate portal{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static "candidate/style.css" %}">
{% endblock %}

{% block heading %}
Candidate Portal
{% endblock %}

{% block content %}
<div class="centered">
    <div class="right-column">
        <section>
            <h2>Announcements</h2>
            <strong>Welcome to the Candidate Portal!</strong> (Posted by [name link]) <br>
            This is where you can see your progress and RSVP for upcoming events. Check back here often to stay up-to-date with the candidate semester.
        </section>
        <br>
        <section>
            <h2>Candidate Requirements</h2>
            <ol type="1" style="margin-bottom: 0;">
                <li>Attend Candidate Meeting</li>
                <li>Attend all 3 General Meetings</li>
                <li>Attend 3+ Fun Events</li>
                <li>Attend 1+ Big Fun Events</li>
                <li>Attend 1+ Serv Events</li>
                <li>Complete 3+ Interactivities</li>
                <ul style="list-style-type: circle;">
                    <li>Officer Challenges</li>
                    <li>Officer Hangouts</li>
                </ul>
                <li>Attend 1+ Prodev Event</li>
                <li>Administer 1-2 Course Surveys</li>
                <li>Complete a Committee Project</li>
                <li>Complete Bit-Byte Requirements</li>
                <ul style="list-style-type: circle;">
                    <li>2 Adventures</li>
                    <li>1 Boba or Equivalent</li>
                </ul>
                <li>Pay all dues (2 sets)</li>
                <li>Complete all required forms</li>
                <ul style="list-style-type: circle;">
                    <li><a href="">Candidate Information Form</a></li>
                    <li><a href="">Committee Preference Form</a></li>
                    <li><a href="">Bit-Byte Pairing Survey</a></li>
                    <li><a href="">Resume Drop</a></li>
                    <li><a href="">Candidate Quiz</a></li>
                    <li><a href="">Candidate Feedback Form</a></li>
                    <li><a href="">Membership Application Form</a></li>
                <ul>
            </ol>
        </section>
    </div>
    <div class="left-column">
        <br id="break">
        <section id="candidate-checklist">
            <h2 style="margin-bottom: 0;">Checklist</h2>

            <div class="checklist-left-col">
                <ul style="margin-bottom: 0;">
                    <li>Mandatory meetings</li>
                    <ol type="1">
                        <li>Candidate Meeting</li>
                        <li>GM (General Meeting) 1</li>
                        <li>GM 2</li>
                        <li>GM 3</li>
                    </ol>
                    <li>Fun</li>
                    <ol type="1">
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                        <li>Thing 3</li>
                    </ol>
                    <li>Big Fun</li>
                    <li>Service</li>
                    <li>Prodev</li>
                </ul>
            </div>
            <div class="checklist-right-col">
                <h4>Interactivities</h4>
                <ul>
                    <li>Officer Challenges</li>
                    <ul>
                        <li><a href="{% url 'candidate:candrequests' %}">(Candidate) Request Confirmation</a></li>
                        <li><a href="{% url 'candidate:candrequests' %}">(Officer) Confirm Challenge Requests</a></li>
                    </ul>
                    <li>Officer Hangouts</li>
                    <ol type="1">
                        <li>Things</li>
                    </ol>
                </ul>

                <h4>Bit-Byte</h4>
                <ul style="margin-bottom: 0;">
                    <li>Adventures</li>
                    <ol type="1">
                        <li>Thing 1</li>
                        <li>Thing 2</li>
                    </ol>
                    <li>Boba or Equivalent</li>
                    <ol type="1">
                        <li>Thing 1</li>
                    </ol>
                </ul>
            </div>
        </section>
        <br>
        <section>
            <h2>Upcoming Events</h2>
            <p><a href="{% url 'events:index' %}">(see calendar)</a></p>
        </section>
    </div>
</div>
{% endblock %}
