{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "candidate/style.css" %}">
<style>
    .table {
        text-align: center;
    }

    .header {
        text-align: center;
        position: relative;
        padding: 1em;
    }

    .sticky-col {
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        z-index: 10;
    }

    .first-col {
        width: 15em;
        min-width: 15em;
        max-width: 15em;
        left: 0;
        padding: 0;
    }

    .second-col {
        width: 5em;
        min-width: 5em;
        max-width: 5em;
        left: 15em;
        padding: 0;
        border-right: 0.1em solid gray;
    }
</style>
{% endblock %}

{% block title %}Officer Portal{% endblock %}

{% block heading %}
Officer Portal
{% endblock %}

{% block content %}
    <div style="margin: auto; width: 60%; text-align: center;">
        <!-- list of requested challenges -->
        <div class="table">
            <h3>Officer Challenges</h3>
            Note: Both you and csec need to confirm a challenge for it to be valid.

            {% if challenges %}
                <table class="full-table">
                    <thead>
                        <th>Title</th>
                        <th>Requester</th>
                        <th>Overall Status</th>
                        <th>Your Response</th>
                        <th></th>
                    </thead>

                    <tbody>
                    {% for challenge in challenges %}
                        <tr>
                            <td align="center">
                                <a href="{% url 'candidate:detail' challenge.id%}">
                                    {{ challenge.name }}
                                </a>
                            </td>
                            <td align="center">{{ challenge.requester }}</td>
                            <td align="center">
                                {% if challenge.confirmed %}
                                    <img src="{% static 'candidate/yes.png'%}" alt="confirmed" class="table-icon">
                                {% elif challenge.rejected %}
                                    <img src="{% static 'candidate/no.png'%}" alt="rejected" class="table-icon">
                                {% else %}
                                    <img src="{% static 'candidate/maybe.png'%}" alt="in progress" class="table-icon">
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if challenge.officer_confirmed is False %}
                                    <img src="{% static 'candidate/no.png'%}" alt="declined" class="table-icon">
                                {% elif challenge.officer_confirmed is True %}
                                    <img src="{% static 'candidate/yes.png'%}" alt="confirmed" class="table-icon">
                                {% else %}
                                    <img src="{% static 'candidate/maybe.png'%}" alt="in progress" class="table-icon">
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if challenge.officer_confirmed is not True %}
                                    <form action="{% url 'candidate:confirm' challenge.id %}" method="post" onsubmit="submit_button.disabled = true; return true;">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="submit" name="submit_button" value="Confirm" />
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No requests to show.</p>
            {% endif %}
        </div>
    </div>

    <br><br>

    <div class="heading">Candidate Summary</div>

    <div style="margin: auto; overflow: auto; white-space: nowrap; width: 80%;">
        <table class="table">
            <thead>
                <th class="header sticky-col first-col">Name</th>
                <th class="header sticky-col second-col">Overall</th>
                {% for header in headers %}
                    <th class="header">{{ header }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td class="sticky-col first-col">
                            <a href="{% url 'candidate:viewcand' row.username %}">{{ row.name }}</a>
                        </td>
                        <td class="sticky-col second-col">
                            {% if row.overall %}
                                <span class="req done"></span>
                            {% else %}
                                <span class="req not-done"></span>
                            {% endif %}
                        </td>
                        {% for s in row.statuses %}
                            <td>
                                {% if s %}
                                    <span class="req done"></span>
                                {% else %}
                                    <span class="req not-done"></span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
