{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "candidate/style.css" %}">
{% endblock %}

{% block title %}Officer Portal{% endblock %}

{% block heading %}
Officer Portal
{% endblock %}

{% block content %}
    <section class="main-panel">
        <h2>Officer Challenges</h2>
        <div style="width: 80%; text-align: center; margin: auto;">
            {% include 'candidate/challenges_table.html' %}
        </div>
    </section>

    <section class="main-panel">
        <h2>Bit-Byte Activities</h2>
        <div>
            {% include 'candidate/bitbytes_table.html' %}
        </div>
    </section>

    <section class="main-panel">
        <h2>Candidate Summary</h2>
        <div style="overflow: auto; white-space: nowrap;">
            <table class="table">
                <thead>
                    <th class="header sticky-col first-col">Name</th>
                    <th class="header sticky-col second-col">Overall</th>
                    {% for header in headers %}
                        <th class="header">{{ header }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td class="sticky-col first-col">
                                <a href="{% url 'candidate:candidate_portal_view_by_username' row.username %}">{{ row.name }} ({{ row.username }})</a>
                            </td>
                            <td class="sticky-col second-col">
                                <span class="req {% if not row.overall %}not-{% endif %}done"></span>
                            </td>
                            {% for s in row.statuses %}
                                <td><span class="req {% if not s %}not-{% endif %}done"></span></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
