{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
  
        <title>{% block title %}{% endblock %} | Berkeley HKN</title>
  
        <!-- Fonts and CSS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/base.css" %}">

        <!-- Tachyon CSS - tachyons.io -->
        <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css"> -->
      
        {% block header %}{% endblock %}
    </head>
    <body>
    <!-- <header>
        <nav class="dt border-box bg-dark-gray w-100 font-body pv1 pv0-ns">
        <a class="dtc v-mid w-25 w-10-ns tc" href="#" title="Home">
            <img class="w3 w3-ns h3 h3-ns" src="{% static "img/hkn-bear-golden.svg" %}" alt="HKN" />
        </a>
        <div class="f6 f5-l dtc w-50 w-70-l tc tl-ns v-mid">
            <a class="dib b near-white link pv1 pv3-l mh2 hover-yellow" href="#" title="Students">Students</a>
            <a class="dib b near-white link pv1 pv3-l mh2 hover-yellow" href="#" title="Industry">Industry</a>
            <a class="dib b near-white link pv1 pv3-l mh2 hover-yellow" href="/events" title="Events">Events</a>
            <a class="dib b near-white link pv1 pv3-l mh2 hover-yellow" href="#" title="Service">Service</a>
            <a class="dib b near-white link pv1 pv3-l mh2 hover-yellow" href="/alumni" title="Alumni">Alumni</a>
        </div>
        <div class="f6 f5-l dtc w-25 w-20-l tc tr-ns pr4-ns v-mid">
            {% if user.is_authenticated %}
            <a class="dib b near-white link pv1 pv3-l ph2 hover-yellow" href="/accounts/settings" title="Settings">Settings</a>
            {% else %}
            <a class="dib b near-white link pv1 pv3-l ph2 hover-yellow" href="/accounts/create" title="Register">Register</a>
            <a class="dib b bg-near-white near-black link pv1 pv2-ns ph2 ba b--near-white br2 hover-bg-yellow" href="/accounts/login" title="Login">Login</a>
            {% endif %}
        </div>
        </nav>
    </header> -->
        <div class="navi-container">
            <div class="navi">
                <div class="navi-logo">
                    <img src="{% static "img/hkn-bear.svg" %}" class="navi-logo-img">
                    <div class="navi-menu-logo-text">
                        <div class="navi-logo-title">
                            <b>Eta Kappa Nu</b>
                        </div>
                        <div class="navi-logo-subtitle">
                            UC Berkeley
                        </div>
                    </div>
                </div>
                <div class='navi-menu'>
                    <label for="toggle">Student Services</label>
                    <label for="toggle">Industry</label>
                    <label for="toggle">Outreach</label>
                    <label for="toggle">Events</label>
                    <label for="toggle">About</label>
                    <a class="account-button" href="">Account<!-- <i style="border: solid black; border-width: 0 3px 3px 0; display: inline-block; padding: 3px; transform: rotate(45deg); -webkit-transform: rotate(45deg);"></i> --></a>
                    <div class="navi-menu-button"><label for="toggle">Menu</label></div>
                </div>
            </div>
        </div>
        <input type="checkbox" name="toggle" id="toggle" />
        <div class="navi-extension-container">
            <div class="navi-extension">
                <div class="navi-ext-logo">
                    <img src="{% static "img/hkn-bear.svg" %}" class="navi-logo-img">
                    <div class="navi-ext-logo-text">
                        <div class="navi-logo-title">
                            Eta Kappa Nu (HKN)
                        </div>
                        <div class="navi-logo-subtitle">
                            UC Berkeley
                        </div>
                    </div>
                </div>
                <div class="navi-extension-columns">
                    <div>
                        <div class="navi-ext-col-header">Student Services</div>
                        <a class="navi-ext-col-item" href="">Tutoring Hours</a><br>
                        <a class="navi-ext-col-item" href="">Review Sessions</a><br>
                        <a class="navi-ext-col-item" href="/exams">Exam Archive</a><br>
                        <a class="navi-ext-col-item" href="">Course Surveys</a><br>
                        <a class="navi-ext-col-item" href="">Course Guide</a><br>
                        <a class="navi-ext-col-item" href="">Department Tours</a>
                    </div>
                    <div>
                        <div class="navi-ext-col-header" href="">Industry</div>
                        <a class="navi-ext-col-item" href="">Why HKN?</a><br>
                        <a class="navi-ext-col-item" href="">Resume Books</a><br>
                        <a class="navi-ext-col-item" href="">Infosessions</a><br>
                        <a class="navi-ext-col-item" href="">Career Fair</a><br>
                        <a class="navi-ext-col-item" href="">Get in Touch</a>
                    </div>
                    <div>
                        <div class="navi-ext-col-header" href="">Outreach</div>
                        <a class="navi-ext-col-item" href="">EECS Day</a><br>
                        <a class="navi-ext-col-item" href="">Junior EECS Day</a><br>
                        <a class="navi-ext-col-item" href="">Maker Workshops</a><br>
                        <a class="navi-ext-col-item" href="">Bear Hacks</a><br>
                        <a class="navi-ext-col-item" href="">Cal Day</a>
                    </div>
                    <div>
                        <div class="navi-ext-col-header" href="/events">Events</div>
                        <a class="navi-ext-col-item" href="/events">Calendar</a><br>
                        <a class="navi-ext-col-item" href="https://www.flickr.com/people/berkeley_hkn/">Photos</a>
                    </div>
                    <div>
                        <div class="navi-ext-col-header" href="">About</div>
                        <a class="navi-ext-col-item" href="">Contact Us</a><br>
                        <a class="navi-ext-col-item"  href=""href="">Committees</a><br>
                        <a class="navi-ext-col-item" href="">Officers</a><br>
                        <a class="navi-ext-col-item" href="/alumni">Alumni</a><br>
                        <a class="navi-ext-col-item" href="">Yearbooks</a><br>
                    </div>
                    <!-- <div>
                    </div> -->
                </div>
                <div class="exit-extension-button">
                    <label for="toggle">&times;</label> <!-- Did have <img src="{% static "img/close.png" %}"> -->
                </div>
            </div>
        </div>
    
        <!-- <script>
            console.log("Running the navbar script");
      
            // Horizontally align the menu items width their respective columns in the navigation extended view
            naviItems = document.getElementsByClassName('navi-menu-item');
            naviCols = document.getElementsByClassName('navi-ext-item');
            if (naviItems.length !== naviCols.length) {
                console.log("Different number of naviItems and naviCols! There must be an equal number.");
            }
            for (var i = 0; i < naviCols.length; i++) {
                // Assume naviCols.length == naviItems.length, and naviCols in same order as naviItems
                var naviColWidth = naviCols[i].offsetWidth;
                var naviMenuItemWidth = naviItems[i].offsetWidth;
                var maxWidth = Math.max(naviColWidth, naviMenuItemWidth);
                console.log(maxWidth);
                if (naviMenuItemWidth < maxWidth) {
                    naviItems[i].style.width = maxWidth.toString() + 'px';
                } else if (naviColWidth < maxWidth) {
                    naviCols[i].style.width = maxWidth.toString() + 'px';
                }
            }
        </script> -->
    
        <div class="heading">
            {% block heading %}{% endblock %}
        </div>
    
        <div class="content">
            {% block content %}{% endblock %}
        </div>
  
        <!-- <footer class="w-100">
            <nav class="dt border-box w-100 bg-dark-gray font-body">
            <div class="dtc f6 f5-l w-50 w-80-l tl v-mid">
                <a class="dib b near-white link pa3 hover-yellow" href="#">Contact</a>
                <a class="dib b near-white link pa3 hover-yellow" href="#" title="About">About</a>
            </div>
            <a class="dtc tr v-mid w-50 w-20-l pa2" href="https://www.ocf.berkeley.edu">
                <img src="{% static "img/ocf-hosted-penguin-dark.svg" %}" alt="Hosted by the OCF" />
            </a>
            </nav>
        </footer> -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-block">
                    <div class="footer-block-title">
                        Our Offices
                    </div>
                    <div class="footer-block-text">
                        290 Cory Hall | (510) 642-7346 <br/>
                        345 Soda Hall | (510) 642-9952
                    </div>
                </div>

                <div class="footer-block">
                    <div class="footer-block-title">
                        Email
                    </div>
                    <div class="footer-block-text">
                        General: hkn@hkn.eecs.berkeley.edu <br/>
                        Industrial Relations: indrel@hkn.eecs.berkeley.edu <br/>
                    </div>
                </div>
            
                <div class="footer-block">
                    <div class="footer-block-text">
                        Created by the Computing Services (Compserv) committee. <br/>
                        Copyright &copy; <script type="text/javascript">
                          var d = new Date()
                          document.write(d.getFullYear())
                        </script> Berkeley HKN
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
