{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>

  <!-- Mobile-responsive rendering -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Tachyon CSS - tachyons.io -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

  <!-- Base CSS -->
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  {% block header %}{% endblock %}
</head>
<body>
  <div class="min-vh-100 relative">
  <header>
    <nav class="dt border-box bg-near-black w-100 sans-serif pv1 pv0-ns">
      <a class="dtc v-mid w-10 tc" href="#" title="Home">
          <img class="w2 w3-ns h2 h3-ns" src="{% static "img/hkn-bear-golden.svg" %}" alt="HKN" />
      </a>
      <div class="f6 f5-ns dtc w-50 w-60-l tc tl-ns v-mid">
        <a class="dib b near-white link pv1 pv2-ns mh2 hover-yellow" href="#" title="Students">Students</a>
        <a class="dib b near-white link pv1 pv2-ns mh2 hover-yellow" href="#" title="Industry">Industry</a>
        <a class="dib b near-white link pv1 pv2-ns mh2 hover-yellow" href="/events" title="Events">Events</a>
        <a class="dib b near-white link pv1 pv2-ns mh2 hover-yellow" href="#" title="Service">Service</a>
        <a class="dib b near-white link pv1 pv2-ns mh2 hover-yellow" href="#" title="Alumni">Alumni</a>
      </div>
      <div class="f6 f5-ns dtc w-30 w-20-l tc tr-ns v-mid ph3">
        <a class="dib b near-white link pv1 pv3-ns ph2 hover-yellow" href="#" title="Register">Register</a>
        <a class="dib b bg-near-white near-black link pv1 pv2-ns ph2 ba br2 hover-bg-yellow" href="#" title="Login">Login</a>
      </div>
    </nav>
  </header>
  <main id="content">
    {% block content %}{% endblock %}
  </main>
  <footer class="absolute bottom-0 w-100">
    <nav class="dt border-box w-100 bg-black sans-serif">
      <div class="dtc f6 f5-ns w-50 tl v-mid">
        <a class="dib b near-white link pv3 pl3 mr3 hover-yellow" href="#">Contact</a>
        <a class="dib b near-white link pv3 mr3 hover-yellow" href="#" title="About">About</a>
      </div>
      <a class="dtc tr v-mid w-50" href="https://www.ocf.berkeley.edu">
        <img src="{% static "img/ocf-hosted-penguin-dark.svg" %}" alt="Hosted by
        the OCF" />
      </a>
    </nav>
  </footer>
  </div>
</body>
</html>