{% extends "base.html" %}
{% load static %}

{% block 'title' %}
	<title>Portal</title>
{% endblock %}

{% block extra_head_stuff %}
{% endblock %}

{% block 'content' %}
<h4 style="margin-left: 20px"> Events </h4>
<ul style="margin-left: 50px">
<li> Fun 1 </li>
<li> Fun 2 </li>
<li> Fun 3 </li>
<li> Big Fun </li>
<li> Serv </li>
</ul>
<h4 style="margin-left: 20px"> Challenges </h4>
<ul style="margin-left: 50px">
<li> Challenge 1 </li>
<li> Challenge 2 </li>
</ul>
<h4 style="margin-left: 20px"> Forms </h4>
<ul style="margin-left: 50px">
<li> <a href="#"> Resume </a></li>
<li> <a href="#"> Quiz </a></li>
</ul>
<h4 style="margin-left: 20px"> Bit-Byte </h4>
<ul style="margin-left: 50px">
<li> Boba 1 </li>
<li> Activity 1 </li>
</ul>
{% endblock %}