{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Fonts and CSS -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <!-- Not sure what this is for? We already have a favicon -->
    <link rel="icon" href="{% static "img/hkn.svg" %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

    <!-- Stuff needed for autocomplete to work -->
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}

    {% block header %}{% endblock %}

    <title>{% block title %}{% endblock %} | Berkeley HKN</title>
  </head>
  <body>
    <input type="checkbox" name="not-toggles" class="toggle" id="toggle-mobile" />
    <input type="checkbox" name="not-toggles" class="toggle" id="toggle-account" />
    <input type="radio" name="toggles" class="toggle" id="toggle-student" onclick="untoggleAccounts()" checked="checked" />
    <input type="radio" name="toggles" class="toggle" id="toggle-industry" onclick="untoggleAccounts()" />
    <input type="radio" name="toggles" class="toggle" id="toggle-outreach" onclick="untoggleAccounts()" />
    <input type="radio" name="toggles" class="toggle" id="toggle-events" onclick="untoggleAccounts()" />
    <input type="radio" name="toggles" class="toggle" id="toggle-about" onclick="untoggleAccounts()" />
    <script>
      function untoggleAccounts() {
        var input = document.getElementById("toggle-account");
        console.log(input);
        console.log(input.type == "checkbox");
        input.checked = false;
      }
    </script>

    <div class="navi-container">
      <div class="navi">
        <a href="/">
          <div class="navi-logo">
            <img src="{% static "img/hkn-bear.svg" %}" class="navi-logo-img">
            <div class="navi-menu-logo-text">
              <div class="navi-logo-title">
                <b>Eta Kappa Nu</b>
              </div>
              <div class="navi-logo-subtitle">
                UC Berkeley
              </div>
            </div>
          </div>
        </a>
        <div class="navi-menu">
          <label for="toggle-student">Student Services</label>
          <label for="toggle-industry">Industry</label>
          <label for="toggle-outreach">Outreach</label>
          <label for="toggle-events">Events</label>
          <label for="toggle-about">About</label>
          {% if user.is_authenticated %}
            <span style="height: 1.8em; width: 1px; border-left: 1px black solid;"></span>
            <label for="toggle-account">
              Welcome, {{ user.first_name }}
              <i id="carrot"></i>
            </label>
          {% else %}
            <a class="account-button" href="/accounts/login?next={{request.path}}">Account</a>
          {% endif %}
          <div class="navi-menu-button">
            <label for="toggle-mobile">
              <!-- Hamburger button -->
              <div style="height: 20px; width: 25px;">
                <div style="box-sizing: border-box; height: 50%; border-top: solid 4px #353535; border-bottom: solid 2px #353535;"></div>
                <div style="box-sizing: border-box; height: 50%; border-bottom: solid 4px #353535; border-top: solid 2px #353535;"></div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="navi-container mobile-nav-bar" style="text-align: center;">
      <label for="toggle-student">
        Student Services
      </label>
    </div>
    <div id="student-nav-bar" class="sub-nav-bar navi-container">
      <a href="/exams">Exam Archive</a>
      <span class="slash">/</span>
      <a href="">Tutoring Hours</a>
      <span class="slash">/</span>
      <a href="/reviewsessions">Review Sessions</a>
      <span class="slash">/</span>
      <a href="">Course Surveys</a>
      <span class="slash">/</span>
      <a href="">Course Guide</a>
      <span class="slash">/</span>
      <a href="/tours">Department Tours</a>
    </div>
    <div class="navi-container mobile-nav-bar" style="text-align: center;">
      <label for="toggle-industry">
        Industry
      </label>
    </div>
    <div id="industry-nav-bar" class="sub-nav-bar navi-container">
      <a href="">Why HKN?</a>
      <span class="slash">/</span>
      <a href="">Resume Books</a>
      <span class="slash">/</span>
      <a href="">Infosessions</a>
      <span class="slash">/</span>
      <a href="">Career Fair</a>
      <span class="slash">/</span>
      <a href="">Get in Touch</a>
    </div>
    <div class="navi-container mobile-nav-bar" style="text-align: center;">
      <label for="toggle-outreach">
        Outreach
      </label>
    </div>
    <div id="outreach-nav-bar" class="sub-nav-bar navi-container">
      <a href="">EECS Day</a>
      <span class="slash">/</span>
      <a href="">Junior EECS Day</a>
      <span class="slash">/</span>
      <a href="">Maker Workshops</a>
      <span class="slash">/</span>
      <a href="">Bear Hacks</a>
      <span class="slash">/</span>
      <a href="">Cal Day</a>
    </div>
    <div class="navi-container mobile-nav-bar" style="text-align: center;">
      <label for="toggle-events">
        Events
      </label>
    </div>
    <div id="events-nav-bar" class="sub-nav-bar navi-container">
      <a href="/events">Calendar</a>
      <span class="slash">/</span>
      <a href="/events/rsvps?option=semester">All RSVPs</a>
      <span class="slash">/</span>
      <a href="https://www.flickr.com/people/berkeley_hkn/">Photos</a>
    </div>
    <div class="navi-container mobile-nav-bar" style="text-align: center;">
      <label for="toggle-about">
        About
      </label>
    </div>
    <div id="about-nav-bar" class="sub-nav-bar navi-container">
      <a href="{% url 'about' %}">About HKN</a>
      <span class="slash">/</span>
      <a href="">Committees</a>
      <span class="slash">/</span>
      <a href="">Officers</a>
      <span class="slash">/</span>
      <a href="/alumni">Alumni</a>
      <span class="slash">/</span>
      <a href="">Yearbooks</a>
    </div>
    {% if user.is_authenticated %}
      <div class="navi-container mobile-nav-bar" style="text-align: center;">
        <label for="toggle-account">
          Welcome, {{ user.first_name }}
          <i id="carrot"></i>
        </label>
      </div>
      <div id="account-nav-bar" class="sub-nav-bar navi-container">
        {% if viewer_is_an_officer %}
          <a href="/cand/offreq">Officer Portal</a>
          <span class="slash">/</span>
        {% endif %}
        <a href="/cand">Candidate Portal</a>
        <span class="slash">/</span>
        <a href="/accounts/settings">Settings</a>
        <span class="slash">/</span>
        <a href="/accounts/logout?next={{request.path}}">Log out</a>
      </div>
    {% endif %}

    <div class="content">
      <!-- Dummy nav section, to push the rest of the page's content down appropriately. This should be a copy of the drop-down nav bar with the most words. -->
      <div id="dummy-nav-bar" class="sub-nav-bar navi-container">
        Exam Archive
        <span class="slash">/</span>
        Tutoring Hours
        <span class="slash">/</span>
        Review Sessions
        <span class="slash">/</span>
        Course Surveys
        <span class="slash">/</span>
        Course Guide
        <span class="slash">/</span>
        <a href="/tours">Department Tours</a>
      </div>

      <div class="heading">
        {% block heading %}{% endblock %}
      </div>

      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      {% block extra-footer %}{% endblock %}
      <div class="footer-container">
        <div class="footer-block">
          <div class="footer-block-title">
            Our Offices
          </div>
          <div class="footer-block-text">
            290 Cory Hall | (510) 642-7346 <br />
            345 Soda Hall | (510) 642-9952
          </div>
        </div>

        <div class="footer-block">
          <div class="footer-block-title">
            Email
          </div>
          <div class="footer-block-text">
            General: hkn[at]hkn.eecs.berkeley.edu <br />
            Industrial Relations: indrel[at]hkn.eecs.berkeley.edu <br />
            Service: serv[at]hkn.eecs.berkeley.edu
          </div>
        </div>

        <div class="footer-block">
          <div class="footer-block-text">
            Created by the Computing Services (Compserv) committee. <br />
            Copyright &copy;
            <script type="text/javascript">
              var d = new Date();
              document.write(d.getFullYear());
            </script>
            Berkeley HKN
          </div>
        </div>

        <div class="footer-block">
          <a href="https://www.ocf.berkeley.edu">
            <img src="{% static "img/ocf-hosted-penguin-dark.svg" %}"
            alt="Hosted by the OCF" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
