{% extends "portal.html" %}
{% load static %}

{% block title %} Committee Portal {% endblock %}

{% block heading %} Committee Portal {% endblock %}


{% block "portal-content" %}

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Act</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Bridge</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>CompServ</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Decal</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Indrel</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Prodev</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Serv</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Studrel</h2>
    </div> 
</a>

<a href="{% url 'indrel_portal' %}" class="right"> 
    <div class="portal-content">
        <h2>Tutoring</h2>
    </div> 
</a>

<a href="{% url 'login' %}?next={{ request.path|urlencode }}">
    <div class="portal-content">
        <h2>Switch Accounts</h2>
    </div>
</a>

<a href="{% url 'home' %}" class="left">
    <div class="portal-content">
        <h2>Go to Home</h2>
    </div>
</a>





{% endblock %}