{% extends 'base.html' %}
{% load static %}

{% block title %}Resume Book{% endblock %}
{% block heading %}Resume Book{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/static_pages.css' %}">
{% endblock %}

{% block content %}

    <div id="resume_book", class="static-page-content">
        The Berkeley HKN Resume Book contains the resumes of our membership, which is pooled from the top 25% of the junior class and the top 33% of the senior class. Resumes are continually updated and categorized by graduation date and engineering focus to help you find the perfect match for any employment opportunity.

        <h3>How current is the Resume Book?</h3>
        It is updated every semester.

        <h3>In what form will I receive the Resume Book?</h3>
        HKN provides a downloadable Resume Book (as a pdf), or we can also mail a version on a CD.

        <h3>How much does the Resume Book cost?</h3>
        HKN asks for a $250 donation for the Resume Book. Your donations help us to continue improving the services we offer which include tutoring, exam archives, course surveys and contact with industry to connect the students of the Berkeley EECS community.

        <h3>What kinds of students would I be able to find in the Resume Book?</h3>
        Check back later to see statistics!

        <h3>How do I order it?</h3>
        If you would like to order a resume book, please feel free to <a href="mailto:indrel@hkn.eecs.berkeley.edu">contact us</a>.
    </div>
{% endblock %}