html {
  min-height: 100vh;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #353535;
  background-color: #252525; /* If footer doesn't reach bottom of screen, this will "extend" the footer */
}
.navi-container,
.content {
  background-color: white; /* Override body's background color */
}

/* Minimum margins for all sections */
.navi-container,
.content,
.footer {
  padding-left: 13px;
  padding-right: 13px;
}

.content {
    padding-bottom: 1em;
}

/*
 * NAVIGATION BAR
 */
.navi-container {
  padding-top: 7px;
  padding-bottom: 7px;
}
.navi {
  min-height: 50px;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo: designed as a flexbox */
.navi a:first-child {
  color: inherit;
}
.navi-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: auto;
}
.navi-logo-img {
  height: 45px;
  color: yellow;
}
.navi-menu-logo-text {
  margin-left: 7px;
}
/* Menu: also a flexbox */
.navi-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: auto;
}
.navi-menu label {
  cursor: pointer;
}
@media screen and (min-width: 710px) { /* Desktop display */
  .navi-menu > label {
    padding-right: 24px;
  }
  .navi-menu > label[for="toggle-account"] {
    padding-right: 0;
    padding-left: 24px;
  }
  .navi-menu-button {
    display: none;
  }
  .navi-menu label:hover {
    text-decoration: underline;
  }
  .mobile-nav-bar {
    display: none;
  }
  #dummy-nav-bar {
    opacity: 0;
    position: static;
  }
  #dummy-nav-bar * {
    display: inline;
  }
}
@media screen and (max-width: 710px) { /* Mobile display */
  .navi-menu > label {
    display: none;
  }
  .navi-menu-button {
    display: block;
    padding-left: 24px;
  }
  #dummy-nav-bar {
    display: none;
  }
  .navi-menu > span {
    display: none;
  }
}
.account-button {
  display: inline-block;
  padding: 9px;
  background-color: #eeeeee;
  border: solid 1px #aaaaaa;
  border-radius: 4px;
  color: #353535;
}
.account-button:hover {
  text-decoration: underline;
}
/* Toggle system */
.toggle {
  position: absolute;
  top: -100%;
  left: -100%;
  display: none;
}
.sub-nav-bar {
  position: absolute;
  opacity: 0;
  text-align: center;
  background-color: #252525;
  transition: opacity 0.5s ease-out;
  box-sizing: border-box;
  width: 100%;
}
.sub-nav-bar * {
  color: white;
  display: none;
}
@media screen and (max-width: 710px) {
  .sub-nav-bar {
    position: static;
    display: none;
  }
}
#toggle-account:not(:checked) ~ #toggle-student:checked ~ .navi-container label[for="toggle-student"],
#toggle-account:not(:checked) ~ #toggle-industry:checked ~ .navi-container label[for="toggle-industry"],
#toggle-account:not(:checked) ~ #toggle-outreach:checked ~ .navi-container label[for="toggle-outreach"],
#toggle-account:not(:checked) ~ #toggle-events:checked ~ .navi-container label[for="toggle-events"],
#toggle-account:not(:checked) ~ #toggle-about:checked ~ .navi-container label[for="toggle-about"],
#toggle-account:checked ~ .navi-container label[for="toggle-account"] {
  text-decoration: underline;
}
#toggle-account:not(:checked) ~ #toggle-student:checked ~ #student-nav-bar,
#toggle-account:not(:checked) ~ #toggle-industry:checked ~ #industry-nav-bar,
#toggle-account:not(:checked) ~ #toggle-outreach:checked ~ #outreach-nav-bar,
#toggle-account:not(:checked) ~ #toggle-events:checked ~ #events-nav-bar,
#toggle-account:not(:checked) ~ #toggle-about:checked ~ #about-nav-bar,
#toggle-account:checked ~ #account-nav-bar {
  opacity: 1;
  z-index: 1;
}
#toggle-account:not(:checked) ~ #toggle-student:checked ~ #student-nav-bar *,
#toggle-account:not(:checked) ~ #toggle-industry:checked ~ #industry-nav-bar *,
#toggle-account:not(:checked) ~ #toggle-outreach:checked ~ #outreach-nav-bar *,
#toggle-account:not(:checked) ~ #toggle-events:checked ~ #events-nav-bar *,
#toggle-account:not(:checked) ~ #toggle-about:checked ~ #about-nav-bar *,
#toggle-account:checked ~ #account-nav-bar * {
  display: inline;
}
@media screen and (max-width: 710px) {
  #toggle-mobile:checked ~ #toggle-account:not(:checked) ~ #toggle-student:checked ~ #student-nav-bar,
  #toggle-mobile:checked ~ #toggle-account:not(:checked) ~ #toggle-industry:checked ~ #industry-nav-bar,
  #toggle-mobile:checked ~ #toggle-account:not(:checked) ~ #toggle-outreach:checked ~ #outreach-nav-bar,
  #toggle-mobile:checked ~ #toggle-account:not(:checked) ~ #toggle-events:checked ~ #events-nav-bar,
  #toggle-mobile:checked ~ #toggle-account:not(:checked) ~ #toggle-about:checked ~ #about-nav-bar,
  #toggle-mobile:checked ~ #toggle-account:checked ~ #account-nav-bar {
    display: block;
  }
  #toggle-mobile:not(:checked) ~ .sub-nav-bar,
  #toggle-mobile:not(:checked) ~ .mobile-nav-bar {
    display: none;
  }
}
#carrot {
  position: relative;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
  transition: transform 0.4s ease-out;
}
#toggle-account:checked ~ .navi-container #carrot {
  transform: rotate(225deg);
  transition: transform 0.4s ease-out;
}
.slash {
  padding-left: 1em;
  padding-right: 1em;
  color: #fdb515;
}

/* Navbar link styling */
.navi-container a:link {
  text-decoration: none;
}
.account-button:hover {
  text-decoration: underline;
}
.navi-container a:visited {
  text-decoration: none;
}
.navi-container a:hover {
  text-decoration: underline;
}
.navi-menu a:hover {
  text-decoration: none;
}
.navi-container a:active {
  text-decoration: underline;
}

/* HEADING (which has the page's title) */
.heading {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* FOOTER */
.footer {
  background-color: #252525;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0; /* .footer-block element will provide 13px of padding-right */
}
.footer-container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-block {
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 13px;
}
.footer-block-title {
  font-size: 1.25em;
}
.footer-block-text {
  color: rgba(255, 255, 255, 0.75);
}

/* Add this to out divs that evelope the body of a page.
   Makes sure "float" doesn't mess up the css. */
.parent {
  overflow: hidden;
}
