{% extends "base.html" %}
{% load static %}

{% block title %}Career Fair{% endblock %}

{% block heading %}
The EECS Career Fair
{% endblock %}

{% block content %}
<style>
    .content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    #inner {
        max-width: 700px;
        margin: auto;
    }
</style>

<div id="inner">
The University of California at Berkeley chapter of Eta Kappa Nu would like to thank all those involved in making our EECS Career Fair a major success.

<h2>What is the HKN Career Fair?</h2>

The EECS Career Fair is the largest technical career fair held on the Berkeley campus and is the only career fair specifically targeting students majoring in Engineering and Computer Science.

<h2>Reputation</h2>

The EE and CS programs here at Berkeley continue to rank top three in the nation, with a total enrollment exceeding 1,400 students. All companies in attendance can expect to meet hundreds of these highly motivated and highly qualified students.

<h2>Why choose HKN?</h2>

Through the years, HKN has built a strong relationship with both the UC Berkeley EECS Department and the EECS community on campus and in industry. It is our reputation and leadership with the students and the department that allow us to publicize and host successful career fairs. This year, our career fair drew in approximately 650 students.

<h2>Why our Career Fair?</h2>

Because we only target students from technical/engineering majors, your company will see precisely those you wish to recruit. Other larger campus-wide career fairs usually draw in more students, but force companies to be ready to deal with positions spanning multiple departments. Also, companies in the past have found it easier and more effective to take the extra time to talk to students more intimately and ask questions about resumes at our fair.

<h2>Questions?</h2>

Feel free to <a href="{% url 'contact_us' %}">contact us</a> with any questions or comments you may have.
</div>
{% endblock %}
