{% extends "base.html" %}
{% load static %}

{% block title %}Get in Touch{% endblock %}

{% block heading %}
Get in Touch
{% endblock %}

{% block content %}
<style>
    .content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    #inner {
        max-width: 700px;
        margin: auto;
    }
</style>

<div id="inner">
<b>Eta Kappa Nu (HKN) Mu Chapter</b> <br>
EECS Honor Society <br>
Industrial Relations Committee  <br> <br>

290 Cory Hall <br>
Berkeley, CA 94720 <br> <br>

Tel: 510.642.7346 <br>
Fax: 510.642.2845 <br>
indrel@hkn... <br>
<a href="https://hkn.eecs.berkeley.edu">https://hkn.eecs.berkeley.edu</a> <br>
</div>
{% endblock %}
