{% extends "base.html" %}
{% load static %}

{% block header %}
	<link rel="stylesheet" href="{% static "dept_tours/style.css" %}">
<!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Department Tour Request{% endblock %}

{% block content %}
<div class="parent">
	<div class = "description" style="width: 60%; float: left; padding: 0px 50px 0px 50px">
	    <h3> Welcome! If you are interested in taking a tour of
	    the EECS department, you're in the right place! </h3>
	    <p> Sign up here for a tour hosted by HKN, and your request
	    will be sent to the HKN officer corps. If you have any
	    special requests, list them in the comments section below.
	    Tours are offered during our open hours (MTWTF, 11am-5pm).
	    Please allow up to three days for confirmation. </p>
	    <p> Note: Tour requests made less than 48 hours in advance from
	    the request time cannot be guaranteed. </p>
	</div>
	<div style="width: 100%; float: left; padding-left: 50px;">
	    {% load app_filters %}
		<form method="POST" autocomplete="off">
			{% csrf_token %}
	        {% for field in form %}
	            <br>
	            <div class="form-field">
		            <div class="form-label">{{ field.label }}
  		            {% if field.field.required %}
  		                <span class="required">*</span>
                  {% endif %}
                </div>
		            <div class="field-input">
		            	{{ field }}
		        	</div>
		        </div>
	            {{ field.errors }}
	        {% endfor %}
	        <br/>
          <div class="submit">
  	        <input class="submit-button" type="submit" value="Submit"/>
          </div>
	        <br/>
        </form>
    </div>
</div>
<script>
  function dateToString(d) {
  	var month = '' + (d.getMonth() + 1);
  	var day = '' + d.getDate();
  	var year = d.getFullYear();
  	if (month.length < 2) {
  		month = '0' + month;
  	}
  	if (day.length < 2) {
  		day = '0' + day;
  	}
  	var date = [month, day, year].join('/');
  	return date;
  }

  $(function () {
  	var tomorrow = new Date();
  	tomorrow.setDate(tomorrow.getDate() + 1);
  	var minDate = dateToString(tomorrow);
  	const minTime = '11:00';
  	const maxTime = '16:15';
  	var disabledDays = [0,6];
    var tour_date = $("#id_tour_date").datetimepicker({
      formatDate: 'm/d/Y',
      minDate: minDate,
      minTime: minTime,
      maxTime: maxTime,
      defaultTime: minTime,
      formatTime: 'h:i A',
      format: 'm/d/Y h:i A',
      step: 15,
      disabledWeekDays: disabledDays,
      validateOnBlur: false,
      timepickerScrollbar: false,
      onSelectDate: function(ct,$i){
	      var date = dateToString(ct);
	      $i.val(date + ' 11:00 AM');
      }
    });
    tour_date.prop('readonly', true);
  });
</script>
{% endblock %}