{% extends "base.html" %}
{% load static %}

{% block title %}Alumni Detail{% endblock %}

{% block heading %}
View Alumni: {{ first_name }} {{ last_name }}
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">

    <div style="padding-left: 20px; font-family: Georgia; line-height:23px;">
        First Name: {{ alumnus.first_name }}<br/>
        Last Name: {{ alumnus.last_name }}<br/>
        Email: {{ alumnus.perm_email }}<br/>
        Graduation Season: {{ alumnus.grad_season }}<br/>
        Graduation Year: {{ alumnus.grad_year }}<br/>
        Grad School: {{ alumnus.grad_school }}<br/>
        Company: {{ alumnus.company }}<br/>
        Job Title: {{ alumnus.job_title }}<br/>
        City: {{ alumnus.city }}<br/>
        Country State: {{ alumnus.country_state }}<br/>

  <div class="center pv3"><a href="{% url 'alumni:search' %}?q=\\">Go Back to Search</a></div>

</div>

{% endblock %}
