{% extends "base.html" %}
{% load static %}

{% block title %}Alumni Form{% endblock %}

{% block header %}
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="{% static "calendar.js" %}"></script>
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
  <h1 class="font-title f3 f2-ns tc">Submit Your Alumni Information</h1>

  <form method="POST">
	  <table class="tl dt dt--fixed w-100">
		  {% csrf_token %}
    		  {{ form.as_table }}
	  </table>
	  <input class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Submit"/>
  </form>

  <h1 class="font-title f3 f2-ns tc">Thank you for submitting!</h1>

</div>

{% endblock %}

