{% extends "base.html" %}
{% load static %}

{% block title %}Alumni Form{% endblock %}

{% block header %}
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
    <h1 class="font-title f3 f2-ns tc">Submit Your Alumni Information</h1>

    <div style="padding-left: 20px; font-family: Georgia;">

        {% if messages %}
            {% for message in messages %}
                <h3  {% if messages.tags %} class="{{ message.tags }}" {% endif %} style="color: #0000A0;">{{ message }}</h3>
            {% endfor %}
        {% endif %}

        <form method="POST">{% csrf_token %}
            {% for field in form %}
                <br>
                <span style="float: left;">{{ field.label }} {% if field.field.required %}
                    <span style="color: red;">* </span>{% endif %}
                </span>&nbsp
                {{ field }}
                {% if field.label == 'Mailing list' %}
                <br><span style="color: #0000A0; font-size: 14px">
                    If added to the mailing list, you'll receive periodic
                    news/updates about HKN, including Alumni events.
                </span>
                {% endif %}
                {{ field.errors }}
                <br>
            {% endfor %}

            <input class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Submit"/>
        </form>

    </div>

</div>

{% endblock %}

