{% extends "base.html" %}
{% load static %}

{% block title %}Alumni{% endblock %}

{% block header %}
  <link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />
  <script src="http://unpkg.com/moment/min/moment.min.js"></script>
  <script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>
  <script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="{% static "calendar.js" %}"></script>
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
  <h1 class="font-title f3 f2-ns tc">HKN Alumni</h1>

  <section id='agenda'>
	  <div>Submit Alumni Information</div>
	  <div>Update Alumni Information</div>
  </section>
</div>

  <!-- TODO: add public event feed (ical) -->
{% endblock %}

