{% extends "base.html" %}
{% load static %}

{% block title %}Alumni{% endblock %}

{% block header %}
  <!--<link rel='stylesheet' href="http://unpkg.com/fullcalendar/dist/fullcalendar.min.css" />-->
  <!--<script src="http://unpkg.com/moment/min/moment.min.js"></script>-->
  <!--<script src="http://unpkg.com/jquery/dist/jquery.slim.min.js"></script>-->
  <!--<script src="http://unpkg.com/fullcalendar/dist/fullcalendar.min.js"></script>-->
{% endblock %}

{% block content %}
<div class="center measure-very-wide pv4">
    <h1 class="font-title f3 f2-ns tc">HKN Alumni</h1>

    <div style="width: 60%; float: left; margin: 0.5%;">
        <img src="{% static 'alumni/berkeley_sunset.jpg'%}" alt="berkeley" style="width: 100%;">
    </div>

    <!-- Feel free to replace this terrible styling! -->
    <section id='agenda'  style="width: 39%; float: right; background-color: #D0D0D0; margin: 0.5%; padding-left: 20px; font-family: Georgia;">
        <h3><a href="{% url 'alumni:search' %}?q=\\">Look up Fellow Alumni Information</a></h3>
        <h3><a href="{% url 'alumni:form' %}">Submit Alumni Information</a></h3>
    </div>

</div>

  <!-- TODO: add public event feed (ical) -->
{% endblock %}
