{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "alumni/style.css" %}">
{% endblock %}

{% block title %}Search for Alumni{% endblock %}

{% block heading %}
Search for HKN Alumni
{% endblock %}

{% block content %}
<div class="parent">

    <div class="left-pad">
        <form id="searchform" action="{% url 'alumni:search' %}" method="get" accept-charset="utf-8" onsubmit="submit_button.disabled = true; return true;">
            {% csrf_token %}

            Search by: 
            <select action="{% url 'alumni:search' %}" name="search_by" id="search_by">
                <option value="name">Name</option><br>
                <option value="city">City</label><br>
                <option value="email">Email</label><br>
                <option value="graduation year">Graduation Year</label><br>
                <option value="grad school">Grad School</label><br>
                <option value="company">Company</label><br>
            </select>

            <input type="hidden" value="{{ search_field }}" name="search_field">
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">

            <button class="searchbutton" name="submit_button" type="submit">
                <i class="fa fa-search">Search</i>
            </button>
        </form>

        {% if request.GET.status == 'sahai' %}
            <br><img src="{% static 'alumni/sahai.gif' %}" alt="Anant Sahai">
        {% endif %}

        {% if '\\' in matching_alumni_list %}
            <p>Enter any keyword in the search bar.</p>
        {% elif status == 'stanford' %}
            <p>Sorry, no results found. Did you mean: worse-than-cal?</p>
        {% elif matching_alumni_list %}
            <br>
            <table style="width: 100%;">
                <thead>
                    <th>Name</th>
                    <th>Graduated</th>
                    <th>Country/State</th>
                    <th>City</th>
                    <th>Grad School</th>
                    <th>Company</th>
                </thead>

                <tbody>
                {% for alumnus in matching_alumni_list %}
                    <tr>
                        <td align="center">
            				<a href="{% url 'alumni:detail' alumnus.id%}">
            					{{ alumnus.name }}
            				</a>
            			</td>
                        <td align="center">{{ alumnus.graduation_semester }}</td>
                        <td align="center">{{ alumnus.country_state }}</td>
                        <td align="center">{{ alumnus.city }}</td>
                        <td align="center">{{ alumnus.grad_school }}</td>
                        <td align="center">{{ alumnus.company }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

        {% else %}
            <p>Sorry, no matching alumni found!</p>
        {% endif %}
    </div>


</div>

{% endblock %}
