{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "serv/style.css" %}">
{% endblock %}

{% block title %}Bear Hacks{% endblock %}

{% block heading %}Bear Hacks{% endblock %}

{% block content %}
<div>
    <div class="info">
        <h2>Overview</h2>
        <p>BearHacks is a day-long event for high-school students, especially those with limited EECS experience, to come to UC Berkeley and simply make something of their own.
             A showcase is held at the end of the day, giving attendees the chance to demo their creations to fellow students and parents. Students can choose from one of our
              starter projects, or work on anything of their choice; in either case, experienced HKN members will be glad to offer individualized guidance and support throughout the day.</p>
        <p><i>Annual, Fall Semester</i></p>
        <h2>Sample Schedule</h2>
        <ul id="schedule">
            <li>10:00 am - 10:30 am: Sign In</li>
            <li>10:30 am - 11:00 am: Guest Speaker</li>
            <li>11:00 am - 3:30 pm: Hack!</li>
            <li>3:00 pm - 3:30 pm: Judging</li>
            <li>3:30 pm - 3:50 pm: Project Showcase</li>
            <li>3:50 pm - 4:00 pm: Awards Ceremony & Closing Speech</li>
        </ul>
    </div> 
</div>
{% endblock %}
