{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "serv/style.css" %}">
{% endblock %}

{% block title %}Cal Day{% endblock %}

{% block heading %}Cal Day{% endblock %}

{% block content %}
<div>
    <div class="info">
        <h2>Overview</h2>
        <p><a href="http://calday.berkeley.edu/">Cal Day</a> is UC Berkeley’s free annual public open house, and HKN will be holding drop-in introductory EECS workshops for campus visitors.
             In past years, our hands-on workshop projects have included creating a programmable LED array that could flash in different patterns
              using a MSP430 microcontroller, or a blinking LED controlled by a 555 timer IC chip.</p>
        <p><i>Annual, Spring Semester</i></p>
        <p><b>Unfortunately, Cal Day has been cancelled this semester as part of campus policies regarding COVID-19.</b></p>
    </div> 
</div>
{% endblock %}
