{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="center measure-very-wide pv4">
  <h1 class="font-title f3 f2-ns tc">{{ course.department }} {{ course.number }}</h1>

  <table>
    <tbody>
      <tr>
        <td>Semester</td>
        <td>Instructor</td>
        <td>Midterm 1</td>
        <td>Midterm 2</td>
        <td>Midterm 3</td>
        <td>Final</td>
      </tr>
      {% for semester in semesters %}
      <tr>
        <td>{{ semester.semester }}</td>
        <td>{{ semester.instructor }}</td>
        <td>
          {% if semester.midterm1 %}
          <a href="{{ semester.midterm1.url }}">[pdf]</a> 
          {% endif %}
          {% if semester.midterm1_sol %}
          <a href="{{ semester.midterm1_sol.url }}">[solution]</a>
          {% endif %}
        </td>
        <td>
          {% if semester.midterm2 %}
          <a href="{{ semester.midterm2.url }}">[pdf]</a> 
          {% endif %}
          {% if semester.midterm2_sol %}
          <a href="{{ semester.midterm2_sol.url }}">[solution]</a>
          {% endif %}
        </td>
        <td>
          {% if semester.midterm3 %}
          <a href="{{ semester.midterm3.url }}">[pdf]</a> 
          {% endif %}
          {% if semester.midterm3_sol %}
          <a href="{{ semester.midterm3_sol.url }}">[solution]</a>
          {% endif %}
        </td>
        <td>
          {% if semester.final %}
          <a href="{{ semester.final.url }}">[pdf]</a> 
          {% endif %}
          {% if semester.final_sol %}
          <a href="{{ semester.final_sol.url }}">[solution]</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
