{% extends "base.html" %}
{% load static %}
{% block title %}Exam archive{% endblock %}

{% block header %}
<style>
    .content {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }
    #actual-contents {
        display: inline-block;
        margin: 0 auto;
        text-align: left;
    }
</style>
{% endblock %}

{% block heading %}Exam Archive{% endblock %}

{% block content %}
<div id="actual-contents">
    Browse by department:

    <h1>Computer Science</h1>
    <ul>
        {% for course in courses %}
            {% if course.department.name == 'CS' %}
                <li>
                    <a href="/exams/course/CS/{{ course.number }}/">CS {{ course.number }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Electrical Engineering</h1>

    <ul>
        {% for course in courses %}
            {% if course.department.name == 'EE' %}
                <li>
                    <a href="/exams/course/EE/{{ course.number }}/">EE {{ course.number }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Electrical Engineering and Computer Science (EECS)</h1>

    <ul>
        {% for course in courses %}
            {% if course.department.name == 'EECS' %}
                <li>
                    <a href="/exams/course/EECS/{{ course.number }}/">EECS {{ course.number }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Add an Exam (Admin Access Only for later) -->
    {% if True %}
    <form action="new" method="GET" id="button">
        <button type='submit'>Add an Exam</button>
    </form>
    {% endif %}

</div>
{% endblock %}
