{% extends "base.html" %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block header %}

<link rel="stylesheet" href="{% static 'courses/style.css'%}" />

{% endblock %}

{% block content %}



<form action="/addcourse">
  Course number:<br>
  <input type="text" name="course_number"><br>
  Department:<br>
  <input type="text" name="department"><br>
  name:<br>
  <input type="text" name="name"><br>
  description:<br>
  <textarea type="text" name="description">Type Course Description ...</textarea><br>
  prerequisites:<br>
  <input type="text" name="prerequisites"><br>
  workload:<br>
  <input type="text" name="workload"><br>
  Topic cover:<br>
  <textarea type="text" name="description">Topic Cover ...</textarea><br>
</form>





  <!-- TODO: add public event feed (ical) -->
{% endblock %}